# Bulk Importing of CSV files
#### Created by Joe Eberle, Alan Calhoun, Helmi (Al)  Seoud     Refactored ON  : 10/17/2022  ---  Revised ON  : 10/18/2022

## Project Setup - Importing Libraries and Initializing Global Variables

In [1]:
#install dependent Libraries is not already installed 
#!pip install pyttsx3

# Import the necessary Libraries 
import glob, os
import pandas as pd
# import logging 
from pathlib import Path
import pyttsx3
import pyodbc 
import timeit
import time
from datetime import date
from datetime import datetime
import sqlalchemy

# Establish some import parameters 

importing_xlsx_files = False 
importing_csv_files = True 
Data_Import_Starting_Directory = 'Y:/_Kaleida_Input/'
#Data_Import_Starting_Directory = 'C:/Data/'
Process_Name = 'Importing CSV data into SQL'

step_debugging = True
detail_debugging = True
detail_Talking = False # only talk on major steps 
Process_Step_Name = ''  
Reading_Intro = False
Reading_Credits =  False
Reading_Steps = False 
Reading_Terms = False 
printing_output = True
Talking_Code = True
Talking_Voice_Male_Gender = True        # Set to False for Female Voice 
Code_Logging  = True 
event_log_row = 0 

# Create some Global Variables for SQL Constructs 
column_inserts = ''
column_question_mark   = ''
create_table_SQL  = ''
create_real_table_SQL  = ''
insert_records_SQL  = ''
create_schema_SQL  = '' 
create_real_schema_SQL  = '' 
Table_Name_Extension_Daily = '_DI'
Table_Name_Extension_Historical = '_HX'
Table_Name_Extension_Rejected = '_RJ'
Table_Name_Extension_Administrative = '_AD'
Table_Name_Prefix = '[pbic_1_0].'

# Create some Global Variables for SQL Connection
server = 'Kalpwvsqlgppc01' 
database  = 'GPPC_DEV' 
username ='GPPC'
pwd = 'Elephant-Trunk-06'
sql_connector = 'DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=No;UID='+username+';PWD='+pwd
# log_filename='data_importing_log.log'

# Configure the Logging to the DEBUG Level 
# logging.basicConfig(level=logging.DEBUG, filename=log_filename, format= '%(asctime)s %(clientip)-15s %(user)-8s %(message)s')
Text_to_Speech = pyttsx3.init()

## Dictionary For character_replacements List 
character_replacements = { " ":"_","#":"Number","%":"Percentage" \
                         ,'_Unnamed':'','_Level':'',"$":"Dollar",'_1':'' \
                         ,'_2':'','_3':'','_4':'','_5':''  \
                         ,'_6':'','_7':'','_8':'','_9':''  \
                         ,'_0':'',':7':'',':8':'',':':'' }
## Dictionary For replacing data types in databases 
data_type_replacements = { "object":"varchar","float64":"float","int64":"int","%":"Percentage" \
                         ,'_Unnamed':'','datetime64':'timestamp',"timedelta64[ns]":"varchar"}    

## add the glaobal data frames for event loggging and Schema Creation 
df_event_log = pd.DataFrame(columns = ('Event_ID','Process_Name','Event_Name','Event_Date','Event_Time','Task_Start_Time','Task_End_Time','TASk_Duration','Comments'))
df_import_directories = pd.DataFrame(columns = ('Root_Directory','Sub_Directory'))
df_import_files = pd.DataFrame(columns = ('Root_Directory','Sub_Directory','Table_Name','Import_File_Name','File_Size','File_Modified_Date','File_Created_Date'))
import_directory_file_Number  = 0
import_file_Number  = 0 
event_log_row = 0
sub_directory_count = 0

## Project Setup -    Database Connectivity & SQL Generation & SQL Execution Functions

In [2]:
#Execute SQL  Dynamically based upon the Connection string  
def execute_SQL(execute_SQL_command):
    global sql_connector
    print('Execute SQL Connect - Call')
    cnxn = pyodbc.connect(sql_connector)
    cursor = cnxn.cursor()
    sql_execute_result = cursor.execute(execute_SQL_command)
    print('After SQL Call','Result Code: ',sql_execute_result)
    out('Executing SQL - After SQL Execute - Command: {} '.format(execute_SQL_command))    
    
    cnxn.commit()
    cursor.close()
    
# The following code uses a SQL server template for Droping tables and replaces the table name 
# spo that it will create the SQL code will drop ANY Table name that is passed to it 
def Create_Drop_Table_SQL(table_name):  
    # Example ---- DROP TABLE [pbic_1_0].[Access_DI]
    Drop_Table_SQL  = 'DROP TABLE [pbic_1_0].[{}]'.format(table_name)
    return Drop_Table_SQL

In [10]:
# read the registry of files from the dayta discovery process 
Data_Import_File_Registry =  'J:/IT GLIN Data Services Shared/TempData/'
Excel_file_Name = Data_Import_File_Registry + 'Discovered_CSV_files_to_import.xlsx'
df_import_files = pd.read_excel(Excel_file_Name)
print('Number of Files to import :' + str(df_import_files.shape[0]) )

Number of Files to import :1914

In [62]:
def slice_the_table_files_up(table_Name):
    df_raw_table_files  = df_import_files[(df_import_files.Table_Name == table_Name)]  # Slice the data set down to one table 
    sub_dir = df_raw_table_files.Sub_Directory.unique() # Determine the subdirectory to read from 
    sub_directory= sub_dir[0] 
    
    raw_csv_files = df_raw_table_files.Import_File_Name.unique()
    for file  in raw_csv_files:
        print('Table: {} has a raw file:{} to import from dir: {} '.format(table_Name,file, sub_directory))
        fullpath_filename = str(sub_directory) +  str('/') + str(file) 
        print('File to CSV READ : {} '.format(fullpath_filename))        
        df_csv = pd.read_csv(fullpath_filename, nrows = 10)
        df_csv.head()
        print('Rows:' + str(df_csv.shape[0]) + ' Columns:' + str(df_csv.shape[1]))

In [75]:
tables_to_import = df_import_files.Table_Name.unique() # Pull the unique Table names out of the registry
print('\nTable Names to Import :\n {} \n\nNumber of Tables to Import : {} '.format(tables_to_import,str(len(tables_to_import))))
# for table in tables_to_import:
#     slice_the_table_files_up(table)

Table Names to Import :
 ['Time_Card' 'Employee_Census' 'Available_Slots' 'Appointments'
 'Historical' 'Patient_Information' 'Primary_Care_Annual_Visit'
 'RCM_Adjustments' 'RCM_Productivity' 'Surgical_Appointment'
 'Third_Next_Available']

Number of Tables to Import : 11

In [55]:
df_csv = pd.read_csv('Y:/_Kaleida_Input/ADP\\Daily Time Card/DailyTimecardReport.050421190755.csv', nrows = 100 )
print('Rows:' + str(df_csv.shape[0]) + ' Columns:' + str(df_csv.shape[1]))

Rows:100 Columns:28

In [29]:
df_csv.head(20)

,Payroll Company Code,Position ID,Payroll Name,Business Unit Description,Home Department Description,Location Description,Timecard Pay Date,REGULAR,OVERTIME,PTO-unscheduled,...,FLOAT,CME,FMLA,SICK,CSL,PFL,OTHER,TOV,90D,OTH
0,G4H,G4H002752,"Abdel-Aal Ahmed, Mohamed",Cardiology,CV_BGH B2_OUTPATIENT CLINIC,CV_BGH B2,09/07/2020,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,G4H,G4H002752,"Abdel-Aal Ahmed, Mohamed",Cardiology,CV_BGH B2_OUTPATIENT CLINIC,CV_BGH B2,11/26/2020,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,G4H,G4H002752,"Abdel-Aal Ahmed, Mohamed",Cardiology,CV_BGH B2_OUTPATIENT CLINIC,CV_BGH B2,12/25/2020,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,G4H,G4H002752,"Abdel-Aal Ahmed, Mohamed",Cardiology,CV_BGH B2_OUTPATIENT CLINIC,CV_BGH B2,01/01/2021,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/14/2020,6.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/15/2020,6.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/16/2020,8.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/17/2020,6.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/18/2020,7.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/19/2020,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/21/2020,7.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/22/2020,8.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/23/2020,8.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/24/2020,6.75,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/25/2020,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/26/2020,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/28/2020,7.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/29/2020,9.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/30/2020,8.75,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,G4H,G4H002937,"Abdelhaq, Dowah",General Surgery,DSG_WLMS_YOUNGS,DSG_WLMS_YOUNGS,12/31/2020,0.00,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
Create_SQL = build_table_create_SQL('Y:/_Kaleida_Input/ADP\\Daily Time Card/DailyTimecardReport.050421190755.csv','Time_Card','_DI') 
print('Create SQL is:\n\n')
print(Create_SQL)

Import File = Y:/_Kaleida_Input/ADP\Daily Time Card/DailyTimecardReport.050421190755.csv
Header:  Index(['Payroll Company Code', 'Position ID', 'Payroll Name',
       'Business Unit Description', 'Home Department Description',
       'Location Description', 'Timecard Pay Date', 'REGULAR', 'OVERTIME',
       'PTO-unscheduled', 'PTO', 'PTO BANK', 'PTO-UNSCHEDULED', 'REGSAL',
       'UNPAID LEAVE', 'HOLIDAY', 'JURY', 'BEREAV', 'FLOAT', 'CME', 'FMLA',
       'SICK', 'CSL', 'PFL', 'OTHER', 'TOV', '90D', 'OTH'],
      dtype='object')
row1_columns:    Payroll Company Code Position ID              Payroll Name  \
0                  G4H   G4H002752  Abdel-Aal Ahmed, Mohamed

  Business Unit Description  Home Department Description Location Description  \
0                Cardiology  CV_BGH B2_OUTPATIENT CLINIC            CV_BGH B2

  Timecard Pay Date  REGULAR  OVERTIME  PTO-unscheduled  ...  FLOAT  CME  \
0        09/07/2020      0.0       0.0              0.0  ...    0.0  0.0

   FMLA  SICK  CSL  PFL  OTHER  TOV  90D  OTH
0   0.0   0.0  0.0  0.0    0.0  0.0  0.0  0.0

[1 rows x 28 columns]
Create SQL is:


Create Table [pbic_1_0].[Time_Card_DI(Payroll Company Code object, Position ID object, Payroll Name object, Business Unit Description object, Home Department Description object, Location Description object, Timecard Pay Date object, REGULAR float64, OVERTIME float64, PTO-unscheduled float64, PTO float64, PTO BANK float64, PTO-UNSCHEDULED float64, REGSAL float64, UNPAID LEAVE float64, HOLIDAY float64, JURY float64, BEREAV float64, FLOAT float64, CME float64, FMLA float64, SICK float64, CSL float64, PFL float64, OTHER float64, TOV float64, 90D float64, OTH float64);

In [ ]:
df_import_raw = customize_column_name_clean_up(df_import_raw)
df_import_raw.head(3)

In [ ]:
global detail_debugging 
detail_debugging = True

##  Step 4: Clean the data and make it consistent in the PANDAS Dataframe.

In [ ]:
column_datatype_Str = str(df_event_log.dtypes)
column_datatype_Str =  column_datatype_Str.replace('dtype: object','').replace('object','varchar[255], ').replace('datetime64[ns]','timestamp, ').replace('float64','float, ')
print('create column SQL string:\n', column_datatype_Str)

In [ ]:
file_Name = df_import_files[1]

In [ ]:
df_import_files.head()

## Step 5: Check the data consistency and perform change control if there are differences.

## Step 6: Convert the pandas dataframes into SQL table Create Statements

## Step 7: Creates the SQL tables in the target Database

## Step 8: Insert the the PANDAS Rows into SQL using the to_SQL Method.

## Step 9: Add event logging to capture the performance of the entire process.

## Step 10: Document the SCHEMA into an easy to use Excel Spreadsheet.

## Step 11: Check the total number of records imported via SQL to the total raw record count to make sure no data is Left Behind.

In [ ]:
sql_columns = column_create_SQL(df_e_log)
sql_columns_cleaned = ' '.join([character_replacements.get(i, i) for i in sql_columns.split()])
sql_dtypes =  df_e_log.dtypes 
sql_column_data_types_cleaned = ' '.join([data_type_replacements.get(i, i) for i in sql_dtypes])

print('SQL Columns  =',sql_columns ,' /n ' 'SQL Columns Cleaned =',sql_columns_cleaned)

In [ ]:
def determine_table_name_for_path(path):

    table_name = path.replace(Data_Import_Starting_Directory,"").replace(' ','_').replace('/','').replace('\\','')
    return table_name 


path = 'Y:/_Kaleida_Input/Available_Slots/'
table_name_for_path = determine_table_name_for_path(path)
print('Table Name:{} is determined from path:{}'.format(table_name_for_path,path) )

In [ ]:
def read_and_import_all_csv_files(path):
    
    if importing_xlsx_files: 
        extension = 'xlsx'
    if importing_csv_files: 
        extension = 'csv'        
    os.chdir(path)
    print('CSV Files to Import from Directory:', path)
    csv_file_count = 0
    for file in glob.glob('*.{}'.format(extension)):
        csv_file_count += 1 
        print('File',str(csv_file_count),": ", file)
        add_log_event(Process_Name,'Found Table to Import',Event_Date,Event_Time,Task_Start_Time,Task_End_Time, Task_Duration , 'Found Table to Import :' + file):
   
        
read_and_import_all_csv_files('Y:/_Kaleida_Input/Available_Slots/')

In [ ]:
Drop_Table_SQL  = Create_Drop_Table_SQL('Access_DI')
# SQL_Result = execute_SQL(Drop_Table_SQL)
# out('SQL Execute Result: {} '.format(SQL_Result))

In [ ]:
print('Starting Iport Walk at Directory:',Data_Import_Starting_Directory)
list_all_subdirectories(Data_Import_Starting_Directory)
df_import_directories

In [ ]:
df_import_directories.head(100)

In [71]:
def build_table_create_SQL(filename , table_name, table_Postfix ):
    Table_Schema_Prefix = '[pbic_1_0].[' 
    Table_Name = table_name        # example = 'Daily_Appointments'
    Table_Name_Postfix = table_Postfix  # Passed in as '_DI]' or '_HX]'
    Table_Name = Table_Name + Table_Name_Postfix
    column_str = '' 

    df_input_csv = pd.read_csv(filename, nrows=10)
    number_of_columns = df_input_csv.shape[1]
    header_columns = df_input_csv.columns
    row1_columns = df_input_csv.iloc[0:1, : ]
    print('Header: ',header_columns)
    print('row1_columns: ',row1_columns)    

    #column_list = [x.strip().title().replace("^","") for x in df_input_csv.columns]
    for col in range(0,number_of_columns):
        #column_str = column_str + str(df_input_csv.columns[col]) + ' ' + str(df_input_csv.dtypes[col]) + ' NULL, ' 
        column_str = column_str + str(df_input_csv.columns[col]) + ' ' + str(df_input_csv.dtypes[col]) + ', ' 
        
        
    column_str =  = { " ":"_","#":"Number","%":"Percentage" \
                         ,'_Unnamed':'','_Level':'',"$":"Dollar",'_1':'' \
                         ,'_2':'','_3':'','_4':'','_5':''  \
                         ,'_6':'','_7':'','_8':'','_9':''  \
                         ,'_0':'',':7':'',':8':'',':':'' }        
    if table_Postfix == '_DI]':
        column_str = column_str.replace("object","nvarchar(255) ").replace("float64","nvarchar(255)  ").replace("int64","nvarchar(255)  ")

        
        
    if table_Postfix == '_HX]':
        column_str = column_str.replace("object","nvarchar(255) ").replace("float64","float  ").replace("int64","int  ")
        
    Create_table_SQL  = 'Create Table ' + Table_Schema_Prefix + Table_Name + "("  + column_str + "); "
    Create_table_SQL = Create_table_SQL.replace(", );",");") 
    return Create_table_SQL

data_folder =  Path('Y:\_Kaleida_Input\DailyAppointments')
filename = data_folder / 'July 2022.csv'
create_table_SQL = build_table_create_SQL(filename, 'Daily_Appointments','_DI]')
print("\n Historical Table" + create_table_SQL)

Import File = Y:\_Kaleida_Input\DailyAppointments\July 2022.csv
Header:  Index(['Appt Info', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Patient Name', 'Account', 'DOB', 'Insurance',
       'Primary Insurance', 'Primary Insurance ID', 'Secondary Insurance',
       'Secondary Insurance ID', 'Tertiary Insurance', 'Tertiary Insurance ID',
       'Patient Address 1', 'Patient Address 2', 'Zip Code', 'Email', 'Phone',
       'Mobile', 'Age', 'Patient Status'],
      dtype='object')
row1_columns:     Appt Info  Unnamed: 1     Unnamed: 2   Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0  Appt Date  Month Name  Week Day Name  Appt Length  Appt Time       Type

  Unnamed: 6   Unnamed: 7   Unnamed: 8   Unnamed: 9  ... Tertiary Insurance  \
0     Status  Full Status  Create Date  Cancel Date  ...                NaN

  Tertiary Insurance ID Patient Address 1 Patient Address 2 Zip Code Email  \
0                   NaN               NaN               NaN      NaN   NaN

  Phone Mobile Age Patient Status
0   NaN    NaN NaN            NaN

[1 rows x 37 columns]

 Historical TableCreate Table [pbic_1_0].[Daily_Appointments_DI](Appt Info nvarchar(255) , Unnamed: 1 nvarchar(255) , Unnamed: 2 nvarchar(255) , Unnamed: 3 nvarchar(255) , Unnamed: 4 nvarchar(255) , Unnamed: 5 nvarchar(255) , Unnamed: 6 nvarchar(255) , Unnamed: 7 nvarchar(255) , Unnamed: 8 nvarchar(255) , Unnamed: 9 nvarchar(255) , Unnamed: 10 nvarchar(255) , Unnamed: 11 nvarchar(255) , Unnamed: 12 nvarchar(255) , Unnamed: 13 nvarchar(255) , Unnamed: 14 nvarchar(255) , Unnamed: 15 nvarchar(255) , Unnamed: 16 nvarchar(255) , Unnamed: 17 nvarchar(255) , Unnamed: 18 nvarchar(255) , Patient Name nvarchar(255) , Account nvarchar(255)  , DOB nvarchar(255) , Insurance nvarchar(255) , Primary Insurance nvarchar(255) , Primary Insurance ID nvarchar(255) , Secondary Insurance nvarchar(255)  , Secondary Insurance ID nvarchar(255)  , Tertiary Insurance nvarchar(255)  , Tertiary Insurance ID nvarchar(255)  , Patient Address 1 nvarchar(255) , Patient Address 2 nvarchar(255) , Zip Code nvarchar(255) , Email nvarchar(255) , Phone nvarchar(255) , Mobile nvarchar(255) , Age nvarchar(255)  , Patient Status nvarchar(255) );

In [70]:
# Get a list of all the Subfiles to iterate through 
def execute_table_Create_SQL(path, table_name):
    
    executing_SQL = False 
    
    extension = 'csv'
    os.chdir(path)
    print('CSV Files to Import from Directory:', path)
    csv_file_count = 0
    for file in glob.glob('*.{}'.format(extension)):
        csv_file_count += 1 
        if csv_file_count == 1:
            print('Creating_Table',table_name,' based upon 1st sample','File',str(csv_file_count),": ", file)     
            data_folder =  path
            filename = data_folder + table_name +'.csv'
            print ('raw file name to rcreate from:',filename)
            DROP_table_SQL = build_DROP_table_SQL(file, table_name,'_DI]')  
            create_table_SQL = build_table_create_SQL(file, table_name,'_DI]')
            
            print('/n/nDROP_table_SQL: ')  
            print(DROP_table_SQL)  
            print('/n/ncreate_table_SQL: ')              
            print(create_table_SQL)

#     if executing_SQL:     
#             execute_SQL(DROP_table_SQL)            
#             execute_SQL(create_table_SQL)
        
execute_table_Create_SQL('Y:/_Kaleida_Input/ADP\Daily Time Card/','Time_Card')

CSV Files to Import from Directory: Y:/_Kaleida_Input/ADP\Daily Time Card/
Creating_Table Time_Card  based upon 1st sample File 1 :  DailyTimecardReport.050421190755.csv
raw file name to rcreate from: Y:/_Kaleida_Input/ADP\Daily Time Card/Time_Card.csv
Import File = DailyTimecardReport.050421190755.csv
Header:  Index(['Payroll Company Code', 'Position ID', 'Payroll Name',
       'Business Unit Description', 'Home Department Description',
       'Location Description', 'Timecard Pay Date', 'REGULAR', 'OVERTIME',
       'PTO-unscheduled', 'PTO', 'PTO BANK', 'PTO-UNSCHEDULED', 'REGSAL',
       'UNPAID LEAVE', 'HOLIDAY', 'JURY', 'BEREAV', 'FLOAT', 'CME', 'FMLA',
       'SICK', 'CSL', 'PFL', 'OTHER', 'TOV', '90D', 'OTH'],
      dtype='object')
row1_columns:    Payroll Company Code Position ID              Payroll Name  \
0                  G4H   G4H002752  Abdel-Aal Ahmed, Mohamed

  Business Unit Description  Home Department Description Location Description  \
0                Cardiology  CV_BGH B2_OUTPATIENT CLINIC            CV_BGH B2

  Timecard Pay Date  REGULAR  OVERTIME  PTO-unscheduled  ...  FLOAT  CME  \
0        09/07/2020      0.0       0.0              0.0  ...    0.0  0.0

   FMLA  SICK  CSL  PFL  OTHER  TOV  90D  OTH
0   0.0   0.0  0.0  0.0    0.0  0.0  0.0  0.0

[1 rows x 28 columns]
/n/nDROP_table_SQL:
DROP Table [pbic_1_0].[Time_Card_DI]
/n/ncreate_table_SQL:
Create Table [pbic_1_0].[Time_Card_DI](Payroll Company Code nvarchar(255) , Position ID nvarchar(255) , Payroll Name nvarchar(255) , Business Unit Description nvarchar(255) , Home Department Description nvarchar(255) , Location Description nvarchar(255) , Timecard Pay Date nvarchar(255) , REGULAR nvarchar(255)  , OVERTIME nvarchar(255)  , PTO-unscheduled nvarchar(255)  , PTO nvarchar(255)  , PTO BANK nvarchar(255)  , PTO-UNSCHEDULED nvarchar(255)  , REGSAL nvarchar(255)  , UNPAID LEAVE nvarchar(255)  , HOLIDAY nvarchar(255)  , JURY nvarchar(255)  , BEREAV nvarchar(255)  , FLOAT nvarchar(255)  , CME nvarchar(255)  , FMLA nvarchar(255)  , SICK nvarchar(255)  , CSL nvarchar(255)  , PFL nvarchar(255)  , OTHER nvarchar(255)  , TOV nvarchar(255)  , 90D nvarchar(255)  , OTH nvarchar(255)  );

In [ ]:
# Get a list of all the Subfiles to iterate through 
def walk_sub_directories(root_directory): 
 #print('list_sub_directories for root Ditrectory {} \n'.format(root_directory) )   
 directory_entry = 0 
 Table_Name = ''
 print('About to Walk')
 for root,directory, file in os.walk(root_directory):
    print('Walking....   ')
    #print('Root Directory: {} subdir: {} \n'.format(root_directory,directory_entry) )
    
    if root.find('Access') >= 0:
        Table_Name = 'Access'
    elif root.find('Daily Time Card') >= 0:
        Table_Name = 'Daily_Time_Card'                
    elif root.find('Employee Census') >= 0:
        Table_Name = 'Employee_Census'               
    elif root.find('ADP') >= 0:
        Table_Name = 'ADP'  
    elif root.find('Employee Census') >= 0:
        Table_Name = 'Employee_Census'   
    elif root.find('Available_Slots') >= 0:
        Table_Name = 'Available_Slots'     
    elif root.find('Available_Slots_Past') >= 0:
        Table_Name = 'Available_Slots_Past'    
    elif root.find('Call Center') >= 0:
        Table_Name = 'Call_Center'    
    elif root.find('CPT Visit') >= 0:
        Table_Name = 'CPT_Visit'    
    elif root.find('Visit') >= 0:
        Table_Name = 'Visit'  
    elif root.find('DailyAppointments') >= 0:
        Table_Name = 'Daily_Appointments'    
    elif root.find('DailyCPT') >= 0:
        Table_Name = 'Daily_CPT'    
    elif root.find('DailyMultipleAppointmentSameDay') >= 0:
        Table_Name = 'Daily_Multiple_Appointment_Same_Day'   
    elif root.find('DailyScheduledOfficeAppointmentVisit') >= 0:
        Table_Name = 'Daily_Scheduled_Office_Appointment_Visit'               
        PatientExperienceDefault
    else:
        Table_Name = 'Unknown Table Name'
    print('Root Directory'+str(directory_entry) +':',root+'Default Table Name for Directory :', Table_Name,' \n')            
    #list_all_csv_files(root)  
    if Table_Name != 'Unknown Table Name':
        execute_table_Create_SQL(root,Table_Name)  
    directory_entry += 1     
 
# Test function call     
list_sub_directories('Y:/_Kaleida_Input/')

In [ ]:
df_import_directories.head()

In [ ]:
#DROP the table Dynamically 
def drop_table_SQL(drop_SQL):
    global sql_connector
    print('Drop Table - Before SQL Connect - Call')
 #   logging.debug('Drop Table - Before SQL Connect - Call')
    cnxn = pyodbc.connect(sql_connector)
    cursor = cnxn.cursor()
    sql_execute_result = cursor.execute(drop_SQL)
    print('After SQL Call','Result Code: ',sql_execute_result)
 #   logging.debug('Drop Table - After SQL Connect - Call')    
    
    cnxn.commit()
    cursor.close()

In [ ]:
#Execute SQL  Dynamically 
def execute_SQL(execute_SQL_command):
    global sql_connector
    print('Execute SQL Connect - Call')
    cnxn = pyodbc.connect(sql_connector)
    cursor = cnxn.cursor()
    sql_execute_result = cursor.execute(execute_SQL_command)
    print('After SQL Call','Result Code: ',sql_execute_result)
 #   logging.debug('Drop Table - After SQL Connect - Call')    
    
    cnxn.commit()
    cursor.close()

In [ ]:
drop_SQL = 'DROP TABLE [pbic_1_0].[Access_DI]'

drop_table_SQL(drop_SQL)

In [ ]:
def Create_Drop_Table_SQL(Table_Name):
    #drop_SQL = 'DROP TABLE [pbic_1_0].[' + Table_Name + ']'
    
    
    drop_SQL =  'DROP TABLE [pbic_1_0].[{}]'.format("'", Table_Name)
 
# IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pbic_1_0].[Access_DI]') AND type in (N'U'))
# DROP TABLE [pbic_1_0].[Access_DI]    
    return drop_SQL

In [ ]:
Drop_Table_SQL = Create_Drop_Table_SQL('Access_DI')

print(Drop_Table_SQL) 
#execute_SQL(Drop_Table_SQL)

In [ ]:
drop_SQL = 'DROP TABLE [pbic_1_0].[Daily_Appointments_DI]'
drop_table_SQL(drop_SQL)

In [ ]:
def read_and_clean_file(data_folder, filename):

    print('Import File =', filename)                 
    df_input_csv = pd.read_csv(filename, nrows=10)
    #print(df_input_csv.columns)
    df_input_csv.columns = df_input_csv.columns.map('^'.join)
    df_input_csv.columns  = [x.strip().title().replace("^","").replace(" ","_").replace("#","Number").replace("#","Number").replace("%","Percentage") \
                             .replace('_Unnamed','').replace('Unnamed','').replace('Unnamed:','').replace('_Level','').replace("$","Dollar") \
                             .replace('_1','').replace('_2','').replace('_3','').replace('_4','').replace('_5','')  \
                             .replace('_6','').replace('_7','').replace('_8','').replace('_9','')  \
                             .replace('1','').replace('2','').replace('3','').replace('4','').replace('5','')  \
                             .replace('6','').replace('7','').replace('8','').replace('9','').replace('0','')  \
                             .replace('_0','').replace(':7','').replace(':8','').replace(':','').replace('Unnamed: ','')  \
                             for x in df_input_csv.columns]

    print(df_input_csv.columns)

In [ ]:
def build_Dataframe_table_create_SQL(dataframe_to_Create, table_name, table_Postfix  ):
    Table_Schema_Prefix = '[pbic_1_0].[' 
    Table_Name = table_name        # 'Daily_Appointments'
    Table_Name_Postfix = table_Postfix  # Passed in as '_DI]' or '_HX]'
    Table_Name = Table_Name + Table_Name_Postfix
    column_str = '' 
 

    df_input_csv = pd.read_csv(filename, nrows=10)
    number_of_columns = df_input_csv.shape[1]
    header_columns = df_input_csv.columns
    row1_columns = df_input_csv.iloc[0:1, : ]
    print('Header: ',header_columns)
    print('row1_columns: ',row1_columns)    

    
    df_input_csv.columns  = [x.strip().title().replace("Address 1","Street_Address").replace("Address 2","Address_Two") \
                             .replace("^","").replace("-","_").replace(" ","_").replace("#","Number").replace("#","Number") \
                             .replace("%","Percentage").replace('_Unnamed','').replace('Unnamed','') \
                             .replace('Unnamed:','').replace('_Level','').replace("$","Dollar") \
                             .replace('_1','').replace('_2','').replace('_3','').replace('_4','').replace('_5','')  \
                             .replace('_6','').replace('_7','').replace('_8','').replace('_9','')  \
                             .replace('1','').replace('2','').replace('3','').replace('4','').replace('5','')  \
                             .replace('6','').replace('7','').replace('8','').replace('9','').replace('0','')  \
                             .replace('_0','').replace(':7','').replace(':8','').replace(':','').replace('Unnamed: ','')  \
                             for x in df_input_csv.columns]
    
         
            
    #column_list = [x.strip().title().replace("^","") for x in df_input_csv.columns]
    for col in range(0,number_of_columns):
        #column_str = column_str + str(df_input_csv.columns[col]) + ' ' + str(df_input_csv.dtypes[col]) + ' NULL, ' 
        column_str = column_str + str(df_input_csv.columns[col]) + ' ' + str(df_input_csv.dtypes[col]) + ', ' 
    if table_Postfix == '_DI]':
        column_str = column_str.replace("object","nvarchar(255) ").replace("float64","nvarchar(255)  ").replace("int64","nvarchar(255)  ")
    if table_Postfix == '_HX]':
        column_str = column_str.replace("object","nvarchar(255) ").replace("float64","float  ").replace("int64","int  ")
        
    Create_table_SQL  = 'Create Table ' + Table_Schema_Prefix + Table_Name + "("  + column_str + "); "
    Create_table_SQL = Create_table_SQL.replace(", );",");") 
    return Create_table_SQL

data_folder =  Path('Y:\_Kaleida_Input\DailyAppointments')
filename = data_folder / 'July 2022.csv'
create_table_SQL = build_table_create_SQL(filename, 'Daily_Appointments','_DI]')
print("\n Historical Table" + create_table_SQL)

In [69]:
def build_DROP_table_SQL(filename , table_name, table_Postfix ):
    Table_Schema_Prefix = '[pbic_1_0].[' 
    Table_Name = table_name        # 'Daily_Appointments'
    Table_Name_Postfix = table_Postfix  # Passed in as '_DI]' or '_HX]'
    Table_Name = Table_Name + Table_Name_Postfix
    DROP_table_SQL  = 'DROP Table ' + Table_Schema_Prefix + Table_Name  
    return DROP_table_SQL

In [ ]:
data_folder =  Path('Y:\_Kaleida_Input\DailyAppointments')
filename = data_folder / 'July 2022.csv'
create_table_SQL = build_table_create_SQL(filename, 'Daily_Appointments','_DI]')

print("\nDaily Table Create SQL: \n" + create_table_SQL)

create_table_SQL = build_table_create_SQL(filename, 'Daily_Appointments','_HX]')

print("\nHistorical Table Create SQL: \n" + create_table_SQL)

In [ ]:
# Y:/_Kaleida_Input/Access/2459652_467_20220313074723_dmhmreport_EHRSUPPORT_2179577.csv
data_folder =  Path('Y:\_Kaleida_Input\Access')
filename = data_folder / '2459652_467_20220313074723_dmhmreport_EHRSUPPORT_2179577.csv'
create_table_SQL = build_table_create_SQL(filename, 'Daily_Appointments')

print("\n" + create_table_SQL)

In [ ]:
# IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[pbic_1_0].[Daily_Appointments_DI]') AND type in (N'U'))
# DROP TABLE [pbic_1_0].[Daily_Appointments_DI]


drop_SQL = 'DROP TABLE [pbic_1_0].[Daily_Appointments_DI]'
drop_table_SQL(drop_SQL)

In [ ]:
execute_SQL(create_table_SQL)
print("\n" + create_table_SQL)

In [ ]:
# data_folder = Path('Y:\_Kaleida_Input\Access')
# filename = data_folder / '2459638_97_20220227013752_dmhmreport_EHRSUPPORT_5187581.csv'

data_folder =  Path('Y:\_Kaleida_Input\DailyAppointments')
filename = data_folder / 'July 2022.csv'
 
read_and_clean_file(data_folder,filename)

In [ ]:
 def create_table_headers(input_data_frame):
    global column_inserts
    global column_question_mark
    global create_table_SQL
    global create_real_table_SQL
    global insert_records_SQL
    global Table_Name_Prefix
    global Table_Name_Extension_Daily
    global Table_Name_Extension_Historical
    global create_schema_SQL
    global create_real_schema_SQL
        
    Table_Name = 'Access'
    sample_row = 3
    create_table_SQL = ''
    create_real_table_SQL = ''
    insert_records_SQL = ''
    Table_Name_Daily = Table_Name_Prefix + Table_Name + Table_Name_Extension_Daily
    Table_Name_Historical = Table_Name_Prefix + Table_Name + Table_Name_Extension_Historical
    df_cols = input_data_frame.columns
    df_types = input_data_frame.dtypes
    col_number = 0
    column_creates = ''
    column_values = ''
    column_inserts = ''
    real_column_creates = ''
    column_question_mark = ''
    for column_name in df_cols:
        col_number = col_number + 1


        if df_types[col_number-1] == 'object':
            sql_column_type = 'Varchar(255)'
        elif df_types[col_number-1] == 'float64': 
            sql_column_type = 'Varchar(255)'
        else:
            sql_column_type = 'Varchar(255)'

        if df_types[col_number-1] == 'object':
            real_sql_column_type = 'Varchar(255)'
        elif df_types[col_number-1] == 'float64': 
            real_sql_column_type = 'Varchar(255)'
        else:
            real_sql_column_type = 'Varchar(255)'                
                

        column_name = column_name.title()
        column_name = column_name.replace(' ','_')
        column_name = column_name.replace('#','Number')
        column_inserts = column_inserts + column_name
        column_value = str(input_data_frame.iloc[sample_row,col_number-1])
        column_creates = column_creates + column_name + " "  + sql_column_type
        real_column_creates = real_column_creates + column_name + " "  + real_sql_column_type
        column_values = column_values + "'" + column_value + "'"
        print(col_number, '  ', column_name)
            
    insert_records_SQL = 'INSERT INTO ' + Table_Name_Daily + '  (' + column_inserts + ') + VALUES (' + column_values + '); '
    create_table_SQL = 'CREATE TABLE ' + Table_Name_Daily + '  (' + column_creates + '); '
    create_real_table_SQL = 'CREATE TABLE ' + Table_Name_Historical + '  (' + real_column_creates + '); '
    create_schema_SQL = create_schema_SQL + create_table_SQL
    create_real_schema_SQL = create_real_schema_SQL + create_real_table_SQL
    #logging.debug('Table Create Finished')

In [ ]:
#filename = 'Y:\_Kaleida_Input\Access\2459638_97_20220227013752_dmhmreport_EHRSUPPORT_5187581.csv'
start_time1 = time.time()

data_folder = Path('Y:\_Kaleida_Input\Access')
filename = data_folder / '2459638_97_20220227013752_dmhmreport_EHRSUPPORT_5187581.csv'

print('Import File =', filename)                 
df_input_csv = pd.read_csv(filename, nrows=10, header=[0,1])
df_input_csv.columns = df_input_csv.columns.map('_'.join)
create_table_headers(df_input_csv) 


#print('\n' + ' column_inserts:  ', column_inserts, '\n') 
#print('\n' + 'column_question_mark:  ', column_question_mark, '\n') 
#print('\n' + 'insert_records_SQL:  ', insert_records_SQL, '\n')
print('\n' + 'create_table_SQL:  ', create_table_SQL, '\n')
print('\n' + 'create_real_table_SQL:  ', create_real_table_SQL, '\n')

# logging.debug('Table Create Finished')
end_time2 = time.time()
print(f'{start_time1-end_time2:.5f}')

In [ ]:
df_input_csv.head(2)

In [ ]:
dailyappointment_df = pd.read_csv(r'C:\DailyAppointment_A_J_Test\Main 3.1 to 9.1.xlsx', low_memory = False, header = [0,1])
Main 3.1 to 9.1.xlsx

Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots
dailyappointment_df.columns = dailyappointment_df.columns.map('_'.join)
dailyappointment_df = dailyappointment_df.fillna(0)
dailyappointment_df['Unnamed: 3_Appt Length'] = dailyappointment_df['Unnamed: 3_Appt Length'].astype(int)
#...
engine = sqlalchemy.create_engine(
               "mssql+pyodbc://gppc:Elephant-Trunk-06@Kalpwvsqlgppc01/GPPC_DEV?DRIVER={ODBC Driver 17 for SQL Server}",
               echo=False)
# # df = pd.read_sql_query('SELECT * FROM pbic_1_0.Access',conn)
import time 
start_time1 = time.time()
#dailyappointment_df.to_sql('dailyappointment_test', con=engine, if_exists='replace')
end_time2 = time.time()
print(f'{start_time1-end_time2:.5f}')

In [ ]:
start_time1 = time.time()
# Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Main 2.28 to 8.28.xlsx' )
# Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Main 3.1 to 9.1.xlsx' )
#Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Main 3.2 to 9.2.xlsx' )

#Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Sub II 2.28 to 8.28.xlsx' )
#Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Sub II 3.1 to 9.1.xlsx' )
#Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Sub II 3.2 to 8.2.xlsx' )

# Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Sub III 2.28 to 8.28.xlsx' )
#Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Sub III 3.1 to 9.1.xlsx' )
#Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Sub III 3.2.xlsx' )

Available_Slots_df = pd.read_excel(r'Z:\GPPC_SOURCE_FILES\Oneday_data_04072022\Oneday_data\Available_Slots\Main 3.1 to 9.1.xlsx' )
Available_Slots_df.rename(columns={'Doctor Name' : 'Doctor_Name','Loc UId' : 'Loc_UId'}, inplace = True)
 
shape = Available_Slots_df.shape
print('\nDataFrame Shape :', shape)
print('\nNumber of rows :', shape[0])
print('\nNumber of columns :', shape[1])

# logging.debug('Table Create Finished')
end_time2 = time.time()
# row_count = Available_Slots_df.shape[1]
file_read_time = end_time2-start_time1
print(' Rows Count:{}'.format(row_count) )

print('Read raw file to Pandas Read Time',f'{file_read_time :.5f}')
print(' Rows per second:',str(row_count/execute_time) )

create_table_headers(Available_Slots_df)

In [ ]:
# Get a list of all the Subfiles to iterate through 
def list_all_csv_files(path):
    
    extension = 'xlsx'
    os.chdir(path)
    print('CSV Files to Import from Directory:', path)
    csv_file_count = 0
    for file in glob.glob('*.{}'.format(extension)):
        csv_file_count += 1 
        print('File',str(csv_file_count),": ", file)
   
        
list_all_csv_files('Z:/GPPC_SOURCE_FILES/Oneday_data4_1_22/Available_Slots/')

In [ ]:
constring = "mssql+pyodbc://gppc:Elephant-Trunk-06@Kalpwvsqlgppc01/GPPC_DEV?DRIVER={ODBC Driver 17 for SQL Server}"  
engine = sqlalchemy.create_engine(constring,fast_executemany=True,echo=False)

start_time1 = time.time()


Available_Slots_df.to_sql('Available_Slots', con=engine, if_exists="append",index=False,chunksize=20000, dtype =  
                             {'datefld': sqlalchemy.DateTime(), 
                             'intfld':  sqlalchemy.types.INTEGER(),
                             'strfld': sqlalchemy.types.NVARCHAR(length=255),
                             'floatfld': sqlalchemy.types.Float(precision=3, asdecimal=True),
                             'booleanfld': sqlalchemy.types.Boolean,
                             'bool' : sqlalchemy.types.Boolean,
                             'float64' : sqlalchemy.types.NVARCHAR(length=255),
                             'int64' : sqlalchemy.types.INTEGER(),
                             'object' : sqlalchemy.types.NVARCHAR(length=50000)})


# shape = Available_Slots_df.shape
# print('\nDataFrame Shape :', shape)
# print('\nNumber of rows :', shape[0])
# print('\nNumber of columns :', shape[1])
 
# logging.debug('Table Create Finished')
end_time2 = time.time()
# row_count = Available_Slots_df.shape[1]
execute_time = end_time2-start_time1
print(' Rows Count:{}'.format(row_count) )

print('SQL Insert Execution Time',f'{execute_time :.5f}')
print(' Rows per second:',str(row_count/execute_time) )

In [ ]:
create_table_headers(Available_Slots_df)

In [ ]:
CREATE TABLE [pbic_1_0].[Available_Slots](
	[Date] [nvarchar](20) NULL,
	[Day] [nvarchar](50) NULL,
	[Time] [nvarchar](20) NULL,
	[Length] [int] NULL,
	[Dr] [nvarchar](50) NULL,
	[Doctor_Name] [nvarchar](max) NULL,
	[Loc] [nvarchar](50) NULL,
	[Loc_UId] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

In [ ]:
Available_Slots_df.info

In [ ]:
constring = "mssql+pyodbc://gppc:Elephant-Trunk-06@Kalpwvsqlgppc01/GPPC_DEV?DRIVER={ODBC Driver 17 for SQL Server}"  
engine = sqlalchemy.create_engine(constring,fast_executemany=True,echo=False)

df.to_sql('Available_Slots', con=engine, if_exists="append",index=False,chunksize=1000, dtype =  
                             {'datefld': sqlalchemy.DateTime(), 
                             'intfld':  sqlalchemy.types.INTEGER(),
                             'strfld': sqlalchemy.types.NVARCHAR(length=255),
                             'floatfld': sqlalchemy.types.Float(precision=3, asdecimal=True),
                             'booleanfld': sqlalchemy.types.Boolean,
                             'bool' : sqlalchemy.types.Boolean,
                             'float64' : sqlalchemy.types.NVARCHAR(length=255),
                             'int64' : sqlalchemy.types.INTEGER(),
                             'object' : sqlalchemy.types.NVARCHAR(length=50000)})

In [ ]:
#Insert a row of values 
def insert_row_SQL(insert_row_SQL):
    global server #= 'Kalpwvsqlgppc01' 
    global database #database = 'GPPC_DEV' 
    global username # =  'GPPC'
    global pwd # ='Elephant-Trunk-06'
    cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=No;UID='+username+';PWD='+pwd)
    cursor = cnxn.cursor()
    sql_execute_result = cursor.execute(insert_row_SQL)
    print('After SQL Call','Result Code: ',sql_execute_result)
    cnxn.commit()
    cursor.close()

In [ ]:
#Insert a row of values 
def insert_row_SQL(insert_row_SQL):
    global server #= 'Kalpwvsqlgppc01' 
    global database #database = 'GPPC_DEV' 
    global username # =  'GPPC'
    global pwd # ='Elephant-Trunk-06'
    cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=No;UID='+username+';PWD='+pwd)
    cursor = cnxn.cursor()
    sql_execute_result = cursor.execute(insert_row_SQL)
    print('After SQL Call','Result Code: ',sql_execute_result)
    cnxn.commit()
    cursor.close()

In [ ]:
drop_table_SQL = 'DROP TABLE [pbic_1_0].[Access_DI]'
drop_table_SQL(drop_table_SQL)

In [ ]:
drop_table_SQL = 'DROP TABLE [pbic_1_0].[dailyappointment_test]'
drop_SQL_table(drop_table_SQL)

In [ ]:
constring = "mssql+pyodbc://gppc:Elephant-Trunk-06@Kalpwvsqlgppc01/GPPC_DEV?DRIVER={ODBC Driver 17 for SQL Server}"  
engine = sqlalchemy.create_engine(constring,fast_executemany=True,echo=False)

df.to_sql('Hx', con=engine, if_exists="append",index=False,chunksize=1000, dtype = 
{'datefld': sqlalchemy.DateTime(), 
'intfld': sqlalchemy.types.INTEGER(),
'strfld': sqlalchemy.types.NVARCHAR(length=255),
'floatfld': sqlalchemy.types.Float(precision=3, asdecimal=True),
'booleanfld': sqlalchemy.types.Boolean,
'bool' : sqlalchemy.types.Boolean,
'float64' : sqlalchemy.types.NVARCHAR(length=255),
'int64' : sqlalchemy.types.INTEGER(),
'object' : sqlalchemy.types.NVARCHAR(length=50000)})

In [ ]:
insert_SQL = create_insert_row(df_input_csv, 3, 'Access_DI')
print('Insert SQL: ', insert_SQL)

In [ ]:
create_SQL_table(create_table_SQL)

In [ ]:
global Process_Name 

today = date.today()

start_time1 = time.time() 
time.sleep(3)
end_time2 = time.time() 
execute_time = end_time2-start_time1
add_log_event(Process_Name,'Starting Import Process',date.today(),datetime.now(),start_time1,end_time2, execute_time , "Starting Import Process")
start_time1 = time.time() 
time.sleep(2)
end_time2 = time.time() 
execute_time = end_time2-start_time1
add_log_event(Process_Name,'Reading the CSV files',date.today(),datetime.now(),start_time1,end_time2, execute_time , "Reading the CSV filesS")
start_time1 = time.time() 
time.sleep(1)
end_time2 = time.time() 
execute_time = end_time2-start_time1
add_log_event(Process_Name,'Writing to SQL Server',date.today(),datetime.now(),start_time1,end_time2, execute_time , "Writing to SQL Server")
start_time1 = time.time() 
time.sleep(2)
end_time2 = time.time() 
execute_time = end_time2-start_time1
add_log_event(Process_Name,'Import Process END ',date.today(),datetime.now(),start_time1,end_time2, execute_time , "Import Process END")

df_e_log.head()

In [ ]:
insert_SQL = create_insert_row(df_input_csv, 3, 'Access_DI')
print('Insert SQL: ', insert_SQL)

In [ ]:
def insert_rows(insert_SQL):

In [ ]:
#Identify the parent directory for all the data subdirectories 
parent_dir = 'Y:/_Kaleida_Input/' #path to folder that contians the data folders

path = parent_dir
import_file_type = '\*.csv'
create_table_SQL = ''
insert_records_SQL = '' 
create_schema_SQL = '' 
column_inserts  = ''
column_question_mark  = ''

In [ ]:
def iterate_import_files(data_directory_path, import_file_type ):
    all_files = glob.glob(data_directory_path + import_file_type)
    return all_files

In [ ]:
insert_SQL = create_insert_row(df_input_csv, 3, 'Access_DI')
   ...: print('Insert SQL: ', insert_SQL)
   ...: insert_row_SQL(insert_SQL)

In [ ]:
 create_SQL_table(create_table_SQL)

In [ ]:
def create_table_headers(input_data_frame):
    global column_inserts  
    global column_question_mark  
    global create_table_SQL 
    global insert_records_SQL 

    Table_Name = 'Access'
    df_cols = input_data_frame.columns
    df_types = input_data_frame.dtypes 
    col_number = 0 
    column_inserts = '' 
    column_creates = '' 
    column_question_mark = '' 
    for column_name in df_cols:
        col_number = col_number + 1
        if len(column_inserts) > 1:
            column_inserts = column_inserts + ", "
        if len(column_creates) > 1:
            column_creates = column_creates + ", "     
        if df_types[col_number-1] == 'object':
            sql_column_type = 'Varchar(255)'
        elif df_types[col_number-1] == 'float64':  
            sql_column_type = 'Varchar(255)' 
        else:
            sql_column_type = 'Varchar(255)' 
        column_name = column_name.title()
        column_name = column_name.replace(' ','_')
        column_name = column_name.replace('#','Number')
        column_inserts = column_inserts + column_name 
        
        column_creates = column_creates + column_name + " "  + sql_column_type 
        column_question_mark = column_question_mark + "?, "
        print(col_number, '  ', column_name) 
    #print('column_inserts:  ', column_inserts) 
    #print('column_question_mark:  ', column_question_mark) 
    print('column_creates:  ', column_creates)  

    insert_records_SQL = 'INSERT INTO ' + Table_Name + '(' + column_inserts + ') VALUES (' + column_question_mark + ');' 
    create_table_SQL = 'CREATE TABLE ' + Table_Name + '(' + column_creates + ');'

In [ ]:
df_input_csv.dtypes

In [ ]:
%who str

In [ ]:
all_files = iterate_import_files('Y:\_Kaleida_Input\Access','\\*.csv')
# print(all_files[1])
for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, nrows=10)
df.head()

In [ ]:
all_files = glob.glob('C:\Data\Behavioral Health'+ '\*.csv')
print(all_files)
print(all_files[1])

In [ ]:
#remove all csv files from dir and unzip folder
parent_dir = 'C:/Power BI/' #path to folder
path = parent_dir

#get csv list
for file in os.listdir(path):
    if file.endswith('.csv'):
        os.remove(path+file)    
        
with ZipFile(path+'PowerBiDownload.zip', 'r') as zipObj:
   zipObj.extractall(path)   

#remove files
#remove files not in list
csv_path = r'S:\Data Team\Source Data\python sql\needed tables.csv'
ext = ".csv"
with open(csv_path, 'r') as csvfile:
    good_files = []
    for n in csv.reader(csvfile):
        if len(n) > 0: good_files.append(n[0])
    all_files = os.listdir(path)
    for filename in all_files:
        if filename.endswith(ext) and filename not in good_files:
            full_file_path = os.path.join(path, filename)
            os.remove(full_file_path)

print('Old files removed, new files unzipped')

In [ ]:
#Pull in helper tables, covert to csv and delete old helper tables
with open('S:/Data Team/Source Data/python sql/helper tables.csv', newline='', encoding='utf-8-sig') as csvfile:
    linereader = csv.reader(csvfile, delimiter=',')
    for row in linereader:
        name = row[0]
        shutil.copy(name, 'C:\Power BI\\' + os.path.basename(name))
                
print('All Helper Tables Moved')

searchdir = 'C:\Power BI\\'

for xls_file in glob.glob(os.path.join(searchdir,"*.xlsx")):
    data_xls = pd.read_excel(xls_file, index_col = None)
    csv_file = os.path.splitext(xls_file)[0]+".csv"
    data_xls.to_csv(csv_file, encoding = 'utf-8', index = False)
    
print('All Helper Tables Changed to CSV')

df_pipe = pd.read_csv('C:/Power BI/hec daily.txt', delimiter = '|', index_col = None, header = None, on_bad_lines='skip')

df_pipe.to_csv('C:/Power BI/hec daily.csv', sep = ',', header = False, index = False)    
    
print('HeC Daily Converted to CSV')

pathtodelete =r"C:\Power BI"
filenames_xlsx = glob.glob(pathtodelete + "/*.xlsx")
for i in filenames_xlsx:
    os.remove(i)
    
filenames_txt = glob.glob(pathtodelete + "/*.txt")
for k in filenames_txt:
    os.remove(k)    
    
print('Old Helper Tables Removed')

In [ ]:
#rename files longer than >=63 char
for filename in os.listdir(path):
    if len(filename) > 63:
        os.rename(path+filename, path+filename[-60:])
        print(filename+' renamed to '+filename[-60:])
            
#get csv list
csv_files = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        csv_files.append(file)
        
data_path = path
#create dataframes
df = {}
for file in csv_files:
    try:
        df[file] = pd.read_csv(data_path+file, low_memory=False, index_col=False)
        
    except UnicodeDecodeError:
        df[file] = pd.read_csv(data_path+file, encoding="cp437", low_memory=False, index_col=False, errors='ignore')
    
    print('Loading ' + file + ' into dataframe')    
print('loading completed')

In [ ]:
for k in csv_files:
    
    dataframe = df[k]
    
    clean_tbl_name = k.lower().replace(" ","_").replace("-","").replace(".", "_").replace("(", "").replace(")", "").replace(",", "")\
    .replace("_csv", "").replace("___", "_").replace("__", "_")    
    
    tbl_name = clean_tbl_name
    
    print(k + ' changing to ' + clean_tbl_name)

    #clean column names
    dataframe.columns = [x.lower().replace(" ", "_").replace("-", "").replace("#","num").replace("?", "")\
                     .replace("=","").replace("\n","").replace("\r","").replace("\r\n","").replace("]","_")\
                     .replace("]","_").replace("[","_").replace("\\","_").replace(".","_").replace("$","")\
                     .replace("%","").replace("#","").replace("(","").replace(")","").replace("?","")\
                     .replace(",","").replace("*","").replace(":","").replace("'","").replace("&","")\
                     .replace(";","").replace("__", "_").replace("/", "")
                     for x in dataframe.columns]

     #limit column length to 64 and reading right to left
    dataframe.columns = dataframe.columns.str[-60:] 

     #adding a number if duplicated column name
    def uniquify(dataframe):
        seen = set()

        for item in dataframe:
            fudge = 1
            newitem = item

            while newitem in seen:
                fudge += 1
                newitem = "{}_{}".format(item, fudge)

            yield newitem
            seen.add(newitem)

    dataframe.columns = uniquify(dataframe)

    dataframe.columns = dataframe.columns.str[-60:] 
    
    #db settings and connection
    #get password
    f=open("S:/Data Team Secure/secrets/postgres.txt","r")
    lines=f.readlines()
    password=lines[1]
    f.close()
    
   
    user="Joes_User_Name"
    host = 'Joes_Host_Name'
    dbname = 'postgres'
        
    engine = create_engine('postgresql://'+user+':'+password+'@'+host+'/'+dbname)
   
    #print('opened database successfully')
    
    #create table
    #dataframe.to_sql(k, engine, schema = None, if_exists='append', index=False, dtype = 'text')
    dataframe.to_sql(clean_tbl_name, engine, schema = None, if_exists='append', index=False, dtype =  
                             {'datefld': sqlalchemy.DateTime(), 
                             'intfld':  sqlalchemy.types.INTEGER(),
                             'strfld': sqlalchemy.types.NVARCHAR(length=255),
                             'floatfld': sqlalchemy.types.Float(precision=3, asdecimal=True),
                             'booleanfld': sqlalchemy.types.Boolean,
                             'bool' : sqlalchemy.types.Boolean,
                             'float64' : sqlalchemy.types.NVARCHAR(length=255),
                             'int64' : sqlalchemy.types.INTEGER(),
                             'object' : sqlalchemy.types.NVARCHAR(length=50000)})
    
    print(clean_tbl_name+' uploaded to database')
    
print('All uploads complete')

## for automation, send email to email list when complete
#get email and file list
email_list = pd.read_csv('S:/Data Team/Source Data/python sql/email_db_upload.csv')
emails = email_list['email']

# email loop
for i in range(len(emails)):
    
    email = emails[i]
    
    # Open the Outlook
    outlook = win32.Dispatch('outlook.application')

    # Create the email
    mail = outlook.CreateItem(0)

    # Set the email subject
    mail.Subject = 'AUTOMATED EMAIL: Database Updated '+ datetime.now().strftime('%b %#d %Y %H:%M')

    # Set the receiver email
    mail.To = email

    # Write the email content
    mail.HTMLBody = r"""
    <p>Hello</p>
    <p>The database has had been updated successfully.</p>
    <p>Thanks</p>
    <p>The Data Team</p>
    """

    # Send the email
    mail.Send()
    print('Email sent to ' + email)
print('All Emails Processed')

In [ ]:
filepath = 'J:/OPA/GLIN Reporting Data Services Output/GPPC Scorecards/Sample report structure and colors.xlsx'

 
File_Size = os.path.getsize(filepath)
File_Last_Modified =  time.ctime(os.path.getmtime(filepath))
File_Create_Date =  time.ctime(os.path.getctime(filepath))
print('File Size ',File_Size)
print('File Modified: ',File_Last_Modified)
print('File Created: ',File_Create_Date)