# Data Synthesis - Patient Data Cleansing and Integration

### Data Discovery

In [1]:
import pandas as pd
import numpy as np
import random as rd
import os
import glob
import matplotlib as plt
pd.set_option('max_columns', None)

In [2]:
#df_form = pd.read_csv('C:/Users/josep/documents/datasets/TEG_Form_BreakOutTable.csv')
#019-03-04 09:23:52.6600000
# Read in the integrated Data Files 
df_forms = pd.read_csv("C:/Users/josep/documents/datasets/forms.csv",nrows=100)
df_forms.head()

,ID,FormID,TableName,CreationDate,CreatedBy,ModifiedDate,ModifiedBy,Inactive
0,1,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
1,2,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
2,3,1620,FL_CASATrinityCaseManagementAssessmentRev_Agen...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
3,4,1620,FL_CASATrinityCaseManagementAssessmentRev_Schools,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
4,5,1620,FL_CASATrinityCaseManagementAssessmentRev_Supp...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False

In [3]:
# Appending a new column
df_forms['formdate'] = pd.to_datetime(df_forms['CreationDate'])

In [4]:
df_forms.head()

,ID,FormID,TableName,CreationDate,CreatedBy,ModifiedDate,ModifiedBy,Inactive,formdate
0,1,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
1,2,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
2,3,1620,FL_CASATrinityCaseManagementAssessmentRev_Agen...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
3,4,1620,FL_CASATrinityCaseManagementAssessmentRev_Schools,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
4,5,1620,FL_CASATrinityCaseManagementAssessmentRev_Supp...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660

In [5]:
# Changing in place
df_forms['CreationDate'] = pd.to_datetime(df_forms['CreationDate'])

In [6]:
df_forms.dtypes

ID                       int64
FormID                   int64
TableName               object
CreationDate    datetime64[ns]
CreatedBy                int64
ModifiedDate           float64
ModifiedBy             float64
Inactive                  bool
formdate        datetime64[ns]
dtype: object

In [7]:
df_forms['formdate'].head()

0   2019-03-04 09:23:52.660
1   2019-03-04 09:23:52.660
2   2019-03-04 09:23:52.660
3   2019-03-04 09:23:52.660
4   2019-03-04 09:23:52.660
Name: formdate, dtype: datetime64[ns]

In [8]:
df_forms['formdate'].max() - df_forms['formdate'].min()

Timedelta('871 days 23:12:00.693000')

In [9]:
df_forms['formdate'].year()

AttributeError: 'Series' object has no attribute 'year'

In [12]:
df_forms['Year'] = df_forms['formdate'].dt.year

In [11]:
df_forms['Year'].value_counts()

2021    53
2020    29
2019    18
Name: Year, dtype: int64

In [13]:
df_forms.head()

,ID,FormID,TableName,CreationDate,CreatedBy,ModifiedDate,ModifiedBy,Inactive,formdate,Year
0,1,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.660,357,NaN,NaN,False,2019-03-04 09:23:52.660,2019
1,2,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.660,357,NaN,NaN,False,2019-03-04 09:23:52.660,2019
2,3,1620,FL_CASATrinityCaseManagementAssessmentRev_Agen...,2019-03-04 09:23:52.660,357,NaN,NaN,False,2019-03-04 09:23:52.660,2019
3,4,1620,FL_CASATrinityCaseManagementAssessmentRev_Schools,2019-03-04 09:23:52.660,357,NaN,NaN,False,2019-03-04 09:23:52.660,2019
4,5,1620,FL_CASATrinityCaseManagementAssessmentRev_Supp...,2019-03-04 09:23:52.660,357,NaN,NaN,False,2019-03-04 09:23:52.660,2019

In [14]:
filt = (df_forms['Year'] >= '2020')
df_forms.loc(filt)

TypeError: Invalid comparison between dtype=int64 and str

In [15]:
path = 'C:/Users/josep/documents/datasets/'
extension = 'csv'
os.chdir(path)
files = glob.glob('*.{}'.format(extension))
print(files)

['Admission_Predict.csv', 'AIHS_BRFSS_RAW.csv', 'AIHS_Patient_CSV.csv', 'AIHS_Patient_csv_10000.csv', 'AIHS_SIM_BRFSS_RAW.csv', 'AIHS_SIM_BRFSS_RAW_Reduced.csv', 'AIHS_SIM_V1.csv', 'AIHS_SIM_V2.csv', 'AIHS_SIM_V3.csv', 'AIHS_SIM_V4_BRFSS_RAW.csv', 'Behavioral_Risk_Factor_Surveillance_System__BRFSS__Prevalence_Data__2011_to_present_subset.csv', 'BRFSS_cleansed.csv', 'BRFSS_Redux.csv', 'BRFSS_Vision_Module_Data___Vision___Eye_Health.csv', 'census.csv', 'Chatbot_Corpus_Diabetes.csv', 'Chatbot_Corpus_Excercise.csv', 'Chronic Kidney Disease.csv', 'class_grades.csv', 'Demographic with SIM.csv', 'Demographic_ADA_Risk.csv', 'Demographic_ADA_Risk_1.csv', 'Demographic_ADA_Risk_2.csv', 'dg.csv', 'dg_BMI.csv', 'dg_BMI_risk.csv', 'dg_BMI_risk_II.csv', 'dg_BMI_risk_III.csv', 'Diabetes.csv', 'diabetes_dataset__2019.csv', 'DOHMH_Community_Health_Survey__2010-2018_.csv', 'Forms.csv', 'kidney_disease.csv', 'log.csv', 'Medical_CLaims_2019_m1_CSV.csv', 'Medical_Claims_Sample.csv', 'mushrooms.csv', 'Patient_Characteristics_Survey__PCS___2015.csv', 'patient_CIRC_factors DRAFT JAE 09_29_2021 .csv', 'patient_CIRC_factors.csv', 'patient_demo_behavior.csv', 'patient_PERC_factors.csv', 'presidents.csv']

In [16]:
import glob
import os
dir_name = 'C:/Users/josep/documents/datasets/'
# Get list of all files in a given directory sorted by name
list_of_files = sorted( filter( os.path.isfile,
                        glob.glob(dir_name + '*') ) )
# Creating a dataframe object from listoftuples
data_files = pd.DataFrame(list_of_files)     

   
data_files.head()

                                                   0
0  C:/Users/josep/documents/datasets\AIHS 100 Pat...
1    C:/Users/josep/documents/datasets\AIHS ext.xlsx
2  C:/Users/josep/documents/datasets\AIHS kidney-...
3        C:/Users/josep/documents/datasets\AIHS.xlsx
4         C:/Users/josep/documents/datasets\AIHS.zip

In [17]:
dir_name = 'C:/Users/josep/documents/datasets/'
# Get a list of files (file paths) in the given directory 
list_of_files = filter( os.path.isfile,
                        glob.glob(dir_name + '*') )
# get list of ffiles with size
files_with_size = [ (file_path, os.stat(file_path).st_size) 
                    for file_path in list_of_files ]

data_files = pd.DataFrame(files_with_size)     
data_files.columns = ['File Name', 'File Size']
data_files.to_excel('C:/Users/josep/documents/datasets/Data_File_Sizes.xlsx')

In [18]:
# Read in the integrated Data Files 
df_data = pd.read_excel("C:/Users/josep/documents/datasets/Data_File_Sizes.xlsx",nrows=5000)
df_data.head()

   Unnamed: 0                                          File Name  File Size
0           0  C:/Users/josep/documents/datasets\Admission_Pr...      12903
1           1  C:/Users/josep/documents/datasets\AIHS 100 Pat...     207358
2           2    C:/Users/josep/documents/datasets\AIHS ext.xlsx   64082224
3           3  C:/Users/josep/documents/datasets\AIHS kidney-...     690303
4           4        C:/Users/josep/documents/datasets\AIHS.xlsx   13831366

In [19]:
df_data['file size2'] = df_data['File Size']
df_data.head()

,Unnamed: 0,File Name,File Size,file size2
0,0,C:/Users/josep/documents/datasets\Admission_Pr...,12903,12903
1,1,C:/Users/josep/documents/datasets\AIHS 100 Pat...,207358,207358
2,2,C:/Users/josep/documents/datasets\AIHS ext.xlsx,64082224,64082224
3,3,C:/Users/josep/documents/datasets\AIHS kidney-...,690303,690303
4,4,C:/Users/josep/documents/datasets\AIHS.xlsx,13831366,13831366

In [20]:
df_data.head()

,Unnamed: 0,File Name,File Size,file size2
0,0,C:/Users/josep/documents/datasets\Admission_Pr...,12903,12903
1,1,C:/Users/josep/documents/datasets\AIHS 100 Pat...,207358,207358
2,2,C:/Users/josep/documents/datasets\AIHS ext.xlsx,64082224,64082224
3,3,C:/Users/josep/documents/datasets\AIHS kidney-...,690303,690303
4,4,C:/Users/josep/documents/datasets\AIHS.xlsx,13831366,13831366

In [21]:
df_data['file delta'] = df_data['File Size'] - df_data['file size2']

In [22]:
# Read in the integrated Data Files 
df_data = pd.read_excel("C:/Users/josep/documents/datasets/AIHS_SIM_BRFSS_Enhanced_Reduced_formulated_2020.xlsx",nrows=100)
df_data.head()

,Index,Year,Patient Ordinal,Birth Date,Age,Decade,Gender,Race,Race Category,Diabetic Metabolic Syndrome,ADA Risk,Family Member with Diabetes,Activity Level,Hypertension,Patients Height in Inches,Height in Centimeters,Integrated - Patients weight in lbs,Computed Weight in KG,Computed BMI,Computed BMI Class,ADA Family Risk,ADA Age Risk,ADA Gender Risk,ADA BMI Risk,ADA Hypertension Risk,Total Calculated ADA pre-Diabetes Risk,AIHS Age Risk,AIHS BMI Risk,Total Calculated AIHS Risk Stratifcation,Simulated BMI Class,Simulated Activity Class,Patient Cohort,Number of Claims,Emergency Department Visit count,Inpatient Admission count,Institutional Claim Count,Professional Claim Count,Pharmacy Claim Count,Dental Claim Count,Total Paid Amount,Per Patient Per Year Amount,Per Patient Per Month Amount,Per Patient Per Year Utilization,Per Patient Per Month Utilization,Alternative ED Visit Claim Count,Alternative IP Admission Claim Count,Number of Endocrine Nutritional Metabolic Immunity Disorders Claims,Number of Congenital Anomalies Claims,Number of Genitourinary System Claims,Number of Symptoms Signs Ill Defined Conditions Claims,Number of Circulatory System Claims,Number of Respiratory System Claims,Number of Diseases of the Blood Claims,Number of Infectious and parasitic diseases Claims,Number of Mental Illness Claims,Number of Neoplasms Claims,Number of Diseases of the Nervous System Claims,Number of Diseases of the Digestive System Claims,Number of Diseases of the Musculoskeletal System Claims,Number of Injury and Poisoning Claims,Number of Residual Codes Unclassified Claims,Number of Complications of Pregnancy Childbirth Claims,Number of Perinatal Period Claims,Number of Diseases of the Skin Claims,Patient Ordinal.1,Weight Current,Weight Period 1,Weight Period 2,Weight Period 3,Weight Period 4,Weight Period 5,HBA1c Period 5,BP Diastolic Current,BP Diastolic Period 1,BP Diastolic Period 2,BP Diastolic Period 3,BP Diastolic Period 4,BP Diastolic Period 5,BP Systolic Current,BP Systolic Period 1,BP Systolic Period 2,BP Systolic Period 3,BP Systolic Period 4,BP Systolic Period 5,LDL Current,LDL Period 1,LDL Period 2,LDL Period 3,LDL Period 4,LDL Period 5,HDL Current,HDL Period 1,HDL Period 2,HDL Period 3,HDL Period 4,HDL Period 5,BRFSS Index,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,LADULT,NUMADULT,NUMMEN,NUMWOMEN,CTELNUM1,CELLFON2,CADULT,PVTRESD2,CCLGHOUS,CSTATE,LANDLINE,HHADULT,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,HLTHPLN1,PERSDOC2,MEDCOST,"MEDCOST Was there a time during the past 12 months when you needed to see a doctor, but could not because of the cost? ? 1=Yes 2=No 7=DK/Not sure 9=Refused",CHECKUP1,CHECKUP1 About how long has it been since you last visited a doctor for a routine checkup? ? 1=Yes 2=No 7=DK/Not sure 9=Refused,BPHIGH4,"BPHIGH4 Have you ever been told by a doctor, nurse, or other health professional that you have high blood pressure?? 1=Yes 2=No 7=DK/Not sure 9=Refused",BPMEDS,BPMEDS Are you currently taking medicine for your high blood pressure? ? 1=Yes 2=No 7=DK/Not sure 9=Refused,BLOODCHO,BLOODCHO Blood cholesterol is a fatty substance found in the blood. Have you ever had your blood cholesterol checked? ? 1=Yes 2=No 7=DK/Not sure 9=Refused,CHOLCHK,CHOLCHK Ever told you have Cardiovascular Disease/Heart Attack and Stroke ? 1=Yes 2=No 7=DK/Not sure 9=Refused,TOLDHI2,TOLDHI2 Ever told blood cholesterol is high? ? 1=Yes 2=No 7=DK/Not sure 9=Refused,CVDINFR4,"CVDINFR4 Ever told you have heart attack, also called a myocardial infarction ? 1=Yes 2=No 7=DK/Not sure 9=Refused",CVDCRHD4,CVDCRHD4 Ever told you have angina or coronary heart disease ? 1=Yes 2=No 7=DK/Not sure 9=Refused,CVDSTRK3,CVDSTRK3 Ever told you have Stroke ? 1=Yes 2=No 7=DK/Not sure 9=Refused,ASTHMA3,ASTHMA3 Ever told you have Asthma ? 1=Yes 2=No 7=DK/Not sure 9=Refused,ASTHNOW,ASTHNOW Do you still have asthma? 1=Yes 2=No 7=DK/Not sure 9=Refused,CHCSCNCR,CHCSCNCR (Ever told) you have Skin Cancer? 1=Yes 2=No 7=DK/Not sure 9=Refused,CHCOCNCR,CHCOCNCR (Ever told) you have other types of Cancer? 1=Yes 2=No 7=DK/Not sure 9=Refused,CHCCOPD1,"CHCCOPD1 (Ever told) you have Chronic Obstructive Pulmonary Disease or COPD, emphysema or chronic bronchitis? 1=Yes 2=No 7=DK/Not sure 9=Refused",HAVARTH3,ADDEPEV2 - Ever been Told you have Arthritis ? 1=Yes 2=No 7=DK/Not sure 9=Refused,ADDEPEV2,ADDEPEV2 - Ever been Told you have Deppresion or Depressive Disorder? 1=Yes 2=No 7=DK/Not sure 9=Refused,CHCKIDNY,CHCKIDNY - Ever been Told you have Kidney Disease? 1=Yes 2=No 7=DK / Not sure 9=Refused,DIABETE3,"DIABETE3 Ever been Told you have Diabetes? 1=Yes 2=Yes, but female told only during pregnancy 3=No 4=No, pre-diabetes or borderline diabetes 7=DK/NS 9=Refused",DIABAGE2,DIABAGE2 Age told of Diabetes 1-97=Age in years [97 = 97 and older] 98=Don’t know/Not sure 99=Refused,SEX,SEX 1=Male 2=Female 7=Don’t know/Not Sure 9=Refused,MARITAL,Marital 1=Married 2=Divorced 3=Widowed 4=Separated 5=Never married 6=A member of an unmarried couple 9=Refused,EDUCA,EDUCA 1=Never attended school or only attended kindergarten 2=Grades 1 through 8 (Elementary) 3=Grades 9 through 11 (Some high school) 4=Grade 12 or GED (High school graduate) 5=College 1 year to 3 years (Some college or technical school) 6=College 4 years,RENTHOM1,Do you own or rent your home? 1=Own 2=Rent 3=Other arrangement,NUMHHOL2,1=Yes 2=No 7=DK / Not sure 9=Refused,NUMPHON2,1=Yes 2=No 7=DK / Not sure 9=Refused.1,CPDEMO1,1=Yes 2=No 7=DK / Not sure 9=Refused.2,VETERAN3,1=Yes 2=No 7=DK / Not sure 9=Refused.3,EMPLOY1,1=Yes 2=No 7=DK / Not sure 9=Refused.4,CHILDREN,1=Yes 2=No 7=DK / Not sure 9=Refused.5,INCOME2,"04=Less than $25,000 ($20,000 to less than $25,000) 03=Less than $20,000 ($15,000 to less than $20,000) 02=Less than $15,000 ($10,000 to less than $15,000) 01=Less than $10,000 05=Less than $35,000 ($25,000 to less than $35,000) 06=Less",INTERNET,1=Yes 2=No 7=DK / Not sure 9=Refused.6,WEIGHT2,HEIGHT3,PREGNANT,QLACTLM2,USEEQUIP,BLIND,DECIDE,DIFFWALK,DIFFDRES,DIFFALON,SMOKE100,SMOKDAY2,STOPSMK2,LASTSMK2,USENOW3,ALCDAY5,AVEDRNK2,DRNK3GE5,MAXDRNKS,FRUITJU1,FRUIT1,FVBEANS,FVGREEN,FVORANG,VEGETAB1,EXERANY2,EXRACT11,EXEROFT1,EXERHMM1,EXRACT21,EXEROFT2,EXERHMM2,STRENGTH,LMTJOIN3,ARTHDIS2,ARTHSOCL,JOINPAIN,SEATBELT,FLUSHOT6,FLSHTMY2,IMFVPLAC,PNEUVAC3,HIVTST6,HIVTSTD3,WHRTST10,PDIABTST,PREDIAB1,INSULIN,BLDSUGAR,FEETCHK2,DOCTDIAB,CHKHEMO3,FEETCHK,EYEEXAM,DIABEYE,DIABEDU,PAINACT2,QLMENTL2,QLSTRES2,QLHLTH2,CAREGIV1,CRGVREL1,CRGVLNG1,CRGVHRS1,CRGVPRB1,CRGVPERS,CRGVHOUS,CRGVMST2,CRGVEXPT,VIDFCLT2,VIREDIF3,VIPRFVS2,VINOCRE2,VIEYEXM2,VIINSUR2,VICTRCT4,VIGLUMA2,VIMACDG2,CIMEMLOS,CDHOUSE,CDASSIST,CDHELP,CDSOCIAL,CDDISCUS,WTCHSALT,LONGWTCH,DRADVISE,ASTHMAGE,ASATTACK,ASERVIST,ASDRVIST,ASRCHKUP,ASACTLIM,ASYMPTOM,ASNOSLEP,ASTHMED3,ASINHALR,HAREHAB1,STREHAB1,CVDASPRN,ASPUNSAF,RLIVPAIN,RDUCHART,RDUCSTRK,ARTTODAY,ARTHWGT,ARTHEXER,ARTHEDU,TETANUS,HPVADVC2,HPVADSHT,SHINGLE2,HADMAM,HOWLONG,HADPAP2,LASTPAP2,HPVTEST,HPLSTTST,HADHYST2,PROFEXAM,LENGEXAM,BLDSTOOL,LSTBLDS3,HADSIGM3,HADSGCO1,LASTSIG3,PCPSAAD2,PCPSADI1,PCPSARE1,PSATEST1,PSATIME,PCPSARS1,PCPSADE1,PCDMDECN,SCNTMNY1,SCNTMEL1,SCNTPAID,SCNTWRK1,SCNTLPAD,SCNTLWK1,SXORIENT,TRNSGNDR,RCSGENDR,RCSRLTN2,CASTHDX2,CASTHNO2,EMTSUPRT,LSATISFY,ADPLEASR,ADDOWN,ADSLEEP,ADENERGY,ADEAT1,ADFAIL,ADTHINK,ADMOVE,MISTMNT,ADANXEV,QSTVER,QSTLANG,EXACTOT1,EXACTOT2,MSCODE,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_CHISPNC,_CRACE1,_CPRACE,_CLLCPWT,_DUALUSE,_DUALCOR,_LLCPWT,_RFHLTH,_HCVU651,_RFHYPE5,_CHOLCHK,_RFCHOL,_MICHD,_LTASTH1,_CASTHM1,_ASTHMS1,_DRDXAR1,_PRACE1,_MRACE1,_HISPANC,_RACE,"1=White 2=Black or African American 3=Asian 4=Native Hawaiian or Other Pacific Islander 5=American Indian, Alaska Native 6=Other: [specify]__________ 8=No additional choices 7=DK/NS 9=Refused",_RACEG21,_RACEGR3,_RACE_G1,_AGEG5YR,_AGE65YR,_AGE80,_AGE_G,HTIN4,htin4: Computed Height In Inches,HTM4,WTKG3,_BMI5,_BMI5 X_bmi5: Computed Body Mass Index,_BMI5CAT,X_bmi5cat: Computed Body Mass Index Categories,_RFBMI5,_CHLDCNT,_EDUCAG,_INCOMG,_SMOKER3,_RFSMOK3,DRNKANY5,DROCDY3_,_RFBING5,_DRNKWEK,_RFDRHV5,FTJUDA1_,FRUTDA1_,BEANDAY_,GRENDAY_,ORNGDAY_,VEGEDA1_,_MISFRTN,_MISVEGN,_FRTRESP,Unnamed: 417,_VEGRESP,Unnamed: 419,_FRUTSUM,Unnamed: 421,_VEGESUM,X_vegesum: Total Vegetables Consumed Per Day,_FRTLT1,_VEGLT1,_FRT16,_VEG23,_FRUITEX,X_fruitex: Fruit Exclusion From Analyses,_VEGETEX,X_vegetex: Vegetable Exclusion From Analyses,_TOTINDA,METVL11_,METVL21_,MAXVO2_,FC60_,ACTIN11_,ACTIN21_,PADUR1_,PADUR2_,PAFREQ1_,PAFREQ2_,pafreq2_: Physical Activity Frequency Per Week For Second Activity,_MINAC11,_MINAC21,STRFREQ_,PAMISS1_,PAMIN11_,pamin11_: Minutes Of Physical Activity Per Week For First Activity,PAMIN21_,pamin21_: Minutes Of Physical Activity Per Week For Second Activity,PA1MIN_,pa1min_: Minutes Of Total Physical Activity Per Week,PAVIG11_,PAVIG21_,PA1VIGM_,_PACAT1,_PAINDX1,_PA150R2,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3,PAM Q1,PAM Q2,PAM Q3,PAM Q4,PAM Q5,PAM Q6,PAM Q7,PAM Q8,PAM Q9,PAM Q10,PAM Q11,PAM Q12,PAM Q13
0,0,2020,Patient_1,1972-04-12,49,4,Male,1,White,1,1,0,0,1,70.0,177.80,280.0,127.005864,40.175405,Morbidly Obese,0,1,1,2,1,6,1.9,2.80,6.70,Obese,Sedentary,"Obese, Sedentary",224,3.0,1.0,35,128,61,0,67845,67845.4,5653.78,224,18.7,3,2,72.0,17.0,103.0,31.0,24.0,27.0,16.0,17.0,16.0,NaN,26.0,5.0,51.0,33.0,10.0,NaN,NaN,13.0,Patient_1,280.0,278,276,274,274,274.0,8.6,109,110,111,111,114,113,147,145,146,145,142,143,104,107,110,112,114,120,50,54,56,62,66,66,0,1,1,b'01292015',b'01',b'29',b'2015',1200,2015000001,2015000001,1,1,NaN,1,2,NaN,3,1.000000e+00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,15,18,10.0,1,1,2,NaN,1,NaN,1,NaN,1.0,Yes,1,Yes,1.0,Yes,1.0,Yes,2,No,2,No,2,Yes,1,Yes,1.0,Yes,2,No,2,No,1,Yes,1,Yes,1,Yes,2,No,3,No,NaN,NaN,2,Female,1,Married,4,High School Graduate,1,Own,2,NaN,NaN,NaN,1,NaN,2,NaN,8,NaN,88,NaN,3.0,NaN,2.0,NaN,280.0,510.0,NaN,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,3.0,NaN,2.0,3.0,888.0,NaN,NaN,NaN,305.0,310.0,320.0,310.0,305.0,101.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,888.0,1.0,1.0,1.0,6.0,1.0,1.0,112014.0,1.0,1.0,1.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1,b'',b'',3,11011,28.78156,3,86.344681,NaN,NaN,NaN,NaN,1,0.614125,341.384853,2,1,2,1,2.0,2.0,2,2,1,1,1,1,2,1,White,1,1,1.0,9,1,63,5,70.0,NaN,178.0,12701.0,4018.0,4008.0,4.0,Morbid Obese,2,1,2,2,3,1,2,5.400000e-79,1,5.400000e-79,1,1.700000e+01,33.0,6.700000e+01,33.0,17.0,100.0,5.400000e-79,5.400000e-79,1.000000e+00,NaN,1.000000e+00,NaN,50.0,NaN,217.0,NaN,2,1,1,1,5.400000e-79,NaN,5.400000e-79,NaN,2,NaN,NaN,2469,423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.400000e-79,5.400000e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,3,3,2,2,4,2,1,1,1,1,1,NaN,NaN,1.0,4,2,1,1,3,4,4,2,4,3,1,2,1
1,1,2020,Patient_2,1947-09-03,73,7,Male,1,White,0,1,0,1,1,68.0,172.72,165.0,74.842741,25.087907,Overweight,0,3,0,0,1,5,4.3,0.00,5.30,Healthy Weight,Active,"Healthy Weight, Active",14,0.0,0.0,2,11,1,0,3179,3179.34,529.89,14,2.3,0,0,4.0,NaN,NaN,4.0,7.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,2.0,NaN,4.0,NaN,NaN,1.0,Patient_2,165.0,168,170,174,175,133.9,6.7,111,112,112,115,118,118,150,153,155,152,152,150,136,140,138,140,146,151,45,42,46,44,45,46,1,1,1,b'01202015',b'01',b'20',b'2015',1100,2015000002,2015000002,1,1,NaN,1,2,NaN,1,5.400000e-79,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,88,88,NaN,2,1,1,NaN,4,NaN,3,NaN,NaN,NaN,1,Yes,4.0,False,2.0,No,2,No,2,No,2,No,2,NaN,NaN,NaN,2,No,2,No,2,No,2,No,2,No,2,No,3,No,NaN,NaN,2,Female,2,Divorced,6,College Graduate,1,Own,2,NaN,NaN,NaN,2,NaN,2,NaN,3,NaN,88,NaN,1.0,NaN,1.0,NaN,165.0,508.0,NaN,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,NaN,3.0,888.0,NaN,NaN,NaN,302.0,305.0,302.0,202.0,202.0,304.0,1.0,64.0,212.0,100.0,69.0,212.0,100.0,888.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,2.0,2.0,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,5.0,NaN,5.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',1.0,2.0,NaN,NaN,2.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1,b'',b'',5,11011,28.78156,1,28.781560,NaN,NaN,NaN,NaN,9,NaN,108.060903,1,2,1,2,1.0,2.0,1,1,3,2,1,1,2,1,White,1,1,1.0,7,1,52,4,68.0,NaN,173.0,7484.0,2509.0,2500.0,3.0,Obese,2,1,4,1,1,2,2,5.400000e-79,1,5.400000e-79,1,7.000000e+00,17.0,7.000000e+00,29.0,29.0,13.0,5.400000e-79,5.400000e-79,1.000000e+00,NaN,1.000000e+00,NaN,24.0,NaN,78.0,NaN,2,2,1,1,5.400000e-79,NaN,5.400000e-79,NaN,1,35.0,5.400000e-79,2876,493,1.0,5.400000e-79,60.0,60.0,2800.0,2800.0,NaN,168.0,5.400000e-79,5.400000e-79,5.400000e-79,168.0,NaN,5.400000e-79,NaN,168.0,NaN,5.400000e-79,5.400000e-79,5.400000e-79,2,1,1,2,2,2,2,2,3,3,4,2,2,NaN,NaN,2.0,2,5,4,1,2,4,2,2,4,3,3,5,5
2,2,2020,Patient_3,1971-09-16,49,4,Male,1,White,1,1,0,1,1,71.0,180.34,158.0,71.667594,22.036301,Healthy Weight,0,1,1,1,1,6,1.9,1.11,5.01,Over Weight,Active,"Over Weight, Active",167,0.0,0.0,1,33,133,0,1449,1449.18,120.77,167,13.9,0,0,17.0,NaN,3.0,3.0,5.0,2.0,8.0,2.0,8.0,NaN,13.0,NaN,3.0,1.0,NaN,NaN,NaN,NaN,Patient_3,158.0,161,161,163,164,189.0,9.7,88,91,94,97,98,101,128,126,124,127,125,125,160,166,168,172,174,174,55,51,51,53,56,61,2,1,1,b'02012015',b'02',b'01',b'2015',1200,2015000003,2015000003,1,1,NaN,1,2,NaN,2,1.000000e+00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,15,88,88.0,1,2,2,NaN,1,NaN,3,NaN,NaN,NaN,1,Yes,1.0,Yes,1.0,Yes,7,Don’t Know,2,No,1,No,2,NaN,NaN,NaN,2,No,1,Yes,2,Yes,1,Yes,2,No,2,No,3,No,NaN,NaN,2,Female,2,Divorced,4,High School Graduate,1,Own,2,NaN,NaN,NaN,1,NaN,2,NaN,7,NaN,88,NaN,99.0,NaN,2.0,NaN,158.0,511.0,NaN,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1,b'',b'',5,11011,28.78156,2,57.563120,NaN,NaN,NaN,NaN,1,0.614125,255.264796,2,9,1,1,2.0,NaN,1,1,3,1,1,1,2,1,White,1,1,1.0,11,2,71,6,71.0,NaN,180.0,7167.0,2204.0,2212.0,2.0,Healthy weight,1,1,2,9,9,9,9,9.000000e+02,9,9.990000e+04,9,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+00,4.000000e+00,5.400000e-79,NaN,5.400000e-79,NaN,NaN,NaN,NaN,NaN,9,9,1,1,1.000000e+00,NaN,1.000000e+00,NaN,9,NaN,NaN,2173,373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9,9,9,9,9,9,9,9,9,9,9,9,9.0,9.0,NaN,3,5,4,1,5,5,1,1,4,2,4,4,3
3,3,2020,Patient_4,1934-01-08,87,8,Female,1,White,0,1,1,1,1,67.0,170.18,180.0,81.646627,28.191696,Overweight,1,3,0,2,1,8,5.7,2.85,9.55,Obese,Active,"Obese, Active",50,0.0,0.0,5,45,0,0,5326,5325.5,591.72,50,5.6,0,0,7.0,NaN,NaN,10.0,6.0,NaN,NaN,1.0,NaN,4.0,16.0,NaN,25.0,NaN,5.0,NaN,NaN,4.0,Patient_4,180.0,179,179,178,177,218.3,5.7,109,110,113,117,119,119,149,152,149,147,146,148,163,159,158,157,153,154,46,46,47,53,51,51,3,1,1,b'01142015',b'01',b'14',b'2015',1100,2015000004,2015000004,1,1,NaN,1,2,NaN,3,1.000000e+00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,30,30,30.0,1,2,1,NaN,1,NaN,1,NaN,1.0,Yes,1,Yes,1.0,Yes,1.0,Yes,2,No,2,No,2,No,2,NaN,NaN,NaN,2,No,1,Yes,2,Yes,1,Yes,1,Yes,2,No,3,No,NaN,NaN,2,Female,1,Married,4,High School Graduate,1,Own,2,NaN,NaN,NaN,1,NaN,2,NaN,8,NaN,1,NaN,8.0,NaN,2.0,NaN,180.0,507.0,NaN,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,NaN,NaN,NaN,3.0,888.0,NaN,NaN,NaN,555.0,101.0,555.0,301.0,301.0,201.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,888.0,1.0,1.0,1.0,8.0,1.0,1.0,777777.0,5.0,1.0,9.0,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',4.0,7.0,NaN,NaN,NaN,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1,b'',b'',3,11011,28.78156,3,86.344681,NaN,NaN,NaN,NaN,1,0.614125,341.384853,2,1,2,1,2.0,2.0,1,1,3,1,1,1,2,1,White,1,1,1.0,9,1,63,5,67.0,NaN,170.0,8165.0,2819.0,2825.0,3.0,Obese,2,2,2,5,4,1,2,5.400000e-79,1,5.400000e-79,1,5.400000e-79,100.0,5.400000e-79,3.0,3.0,14.0,5.400000e-79,5.400000e-79,1.000000e+00,NaN,1.000000e+00,NaN,100.0,NaN,20.0,NaN,1,2,1,1,5.400000e-79,NaN,5.400000e-79,NaN,2,NaN,NaN,2469,423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.400000e-79,5.400000e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,3,3,2,2,4,2,1,1,1,1,1,NaN,NaN,9.0,3,4,5,3,5,5,4,1,2,2,2,1,3
4,4,2020,Patient_5,1934-05-12,87,8,Male,1,White,0,1,0,1,1,64.0,162.56,142.0,64.410117,24.373994,Healthy Weight,0,3,1,2,1,8,5.7,2.55,10.25,Obese,Active,"Obese, Active",52,NaN,NaN,0,17,35,0,1340,1339.95,134,52,5.2,0,0,5.0,NaN,6.0,4.0,7.0,NaN,1.0,1.0,NaN,2.0,1.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,Patient_5,142.0,145,145,142,143,270.4,8.7,94,95,94,97,100,100,134,131,131,130,132,132,139,138,138,144,149,155,45,47,46,48,51,47,4,1,1,b'01142015',b'01',b'14',b'2015',1100,2015000005,2015000005,1,1,NaN,1,2,NaN,2,1.000000e+00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,20,88,30.0,1,1,2,NaN,1,NaN,3,NaN,NaN,NaN,1,Yes,1.0,Yes,2.0,No,2,No,2,No,2,No,2,NaN,NaN,NaN,2,No,2,No,2,Yes,1,Yes,2,No,2,No,3,No,NaN,NaN,2,Female,1,Married,5,Some College,1,Own,2,NaN,NaN,NaN,2,NaN,2,NaN,8,NaN,88,NaN,77.0,NaN,1.0,NaN,142.0,504.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,3.0,888.0,NaN,NaN,NaN,777.0,102.0,203.0,204.0,310.0,320.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,888.0,1.0,1.0,1.0,7.0,1.0,2.0,NaN,NaN,1.0,1.0,777777.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,777.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'',5.0,5.0,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,1,b'',b'',3,11011,28.78156,2,57.563120,NaN,NaN,NaN,NaN,9,NaN,258.682223,2,1,1,1,1.0,2.0,1,1,3,1,1,1,2,1,White,1,1,1.0,9,1,61,5,64.0,NaN,163.0,6441.0,2437.0,2424.0,2.0,Healthy weight,1,1,3,9,4,1,2,5.400000e-79,1,5.400000e-79,1,NaN,200.0,4.300000e+01,57.0,33.0,67.0,1.000000e+00,5.400000e-79,5.400000e-79,NaN,1.000000e+00,NaN,NaN,NaN,200.0,NaN,9,1,1,1,1.000000e+00,NaN,5.400000e-79,NaN,2,NaN,NaN,2543,436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.400000e-79,5.400000e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,3,3,2,2,4,2,1,1,1,1,1,NaN,NaN,1.0,5,1,1,1,1,4,4,5,3,1,5,4,1

In [23]:
df_data.shape

(100, 486)

In [24]:
# Grouper to select Date_of_Purchase column within groupby function
print("\nGroup Dataframe by 3 years...\n",df_data.groupby(pd.Grouper(key="Birth Date", axis=0, freq='3Y')).sum())

KeyError: 'The grouper name Birth Date is not found'

In [ ]:
df_data.describe()

In [ ]:
df_patient.hist(column='Race', color='teal',ec='white')

In [ ]:
df_patient.hist(column='Age', color='Orange', ec='blue')

In [ ]:
cols = df_data.columns

In [ ]:
cols

In [ ]:
df_patient.hist(column='Simulated Imputed ADA Risk (OUTCOME)', color='Orange',  ec='blue')

In [ ]:
df_patient.hist(column='Total Calculated AIHS Risk Stratifcation', color='skyblue' , ec='blue', bins = 50)
df_patient.hist(column='Total Calculated ADA pre-Diabetes Risk', color='skyblue' , ec='blue', bins = 50)

In [ ]:
print(cols)

In [ ]:
df_patient.hist(column='Simulated Imputed ADA Risk (OUTCOME)', color='Orange')

In [ ]:
df_patient.hist(column='Age',by = 'Gender')

In [ ]:
df_patient.hist(column='Race',by = 'Gender')

In [ ]:
df_data['Gender'].value_counts()

In [ ]:
df_data['Race Category'].value_counts()

## Micro Profiling Patients into cohorts

In [ ]:
df_patient['Patient Cohort'].value_counts()

In [ ]:
# Read in the BRFSS data set 
df_BRFSS = pd.read_csv("C:/Data/brfss cdc/BRFSS_2015.csv",nrows=10000)
df_BRFSS.shape

In [ ]:
# Save the transformed file 
df_BRFSS.to_csv("C:/Users/josep/documents/datasets/BRFSS_Redux.csv")

In [ ]:
# Read in the integrated Data Files 
df_BRFSS_RAW = pd.read_csv("C:/Users/josep/documents/datasets/AIHS_SIM_V4_BRFSS_RAW.csv") 
df_BRFSS_RAW.head()

In [ ]:
# Save the transformed file 
df_BRFSS.to_csv("C:/Users/josep/documents/datasets/AIHS_BRFSS_RAW.csv")

In [ ]:
df_BRFSS.head()

In [ ]:
# Calculate the AIHS health risk stratification 
def calc_age_risk(age):
    if age < 40: 
        age_risk =  0.0
    elif age < 50: 
        age_risk =  1 + ((age-40) * .1)
    elif age  < 60: 
        age_risk =  2 + ((age-50) * .1)
    elif age  < 90: 
        age_risk =  3 + ((age-60) * .1)
    elif age  < 110:    # Age over 90 non actionable ????
        age_risk =  0      
    
    return age_risk

In [ ]:
kilo_grams = float(input('Enter weight in Kg to Convert into pounds:'))
pounds = kilo_grams * 2.2046
print(kilo_grams,' Kilograms =', pounds,' Pounds')

In [ ]:
def calc_AIHS_age_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Age'] < 40: 
        row['AIHS Age Risk']=  0.0
    elif row['Age'] < 50: 
        row['AIHS Age Risk']=  1 + ((row['Age']-40) * .1)
    elif row['Age']  < 60: 
        row['AIHS Age Risk']=  2 + ((row['Age']-50) * .1)
    elif row['Age']  < 90: 
        row['AIHS Age Risk']=  3 + ((row['Age']-60) * .1)
    elif row['Age']  < 110:    # Age over 90 non actionable ????
        row['AIHS Age Risk']=  0      
   
    return row

In [ ]:
def calc_height_in_feet(row):
    # Converts from centimeters to feet and inches 
    row['Simulated Height IN']=  round(row['Simulated Height CM']  * 0.0328,1) 
    return row

In [ ]:
def calc_weight_in_pounds(row):
    # Converts from centimeters to feet and inches 
    row['Simulated Weight LBS']=   round(row['Simulated Weight KG']  * 2.2046,1)
    return row

In [ ]:
def calc_body_mass_index(row):
    # Converts from centimeters to feet and inches 
    row['Simulated BMI']=  row['Simulated Weight KG']/(row['Simulated Height CM']**2)  
    return row

In [ ]:
def calc_ADA_age_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Age'] < 40: 
        row['ADA Age Risk']= 0
    elif row['Age'] < 50: 
        row['ADA Age Risk']=  1  
    elif row['Age']  < 60: 
        row['ADA Age Risk']=  2  
    elif row['Age']  < 90: 
        row['ADA Age Risk']=  3  
    elif row['Age']  < 110:    # Age over 90 non actionable ????
        row['ADA Age Risk']=  0      
    return row

In [ ]:
def calc_ADA_BMI_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Simulated BMI'] < 18.5: 
        row['ADA BMI Risk']= 0
    elif row['Simulated BMI'] < 25: 
        row['ADA BMI Risk']=  0  
    elif row['Simulated BMI']  < 30: 
        row['ADA BMI Risk']=  1  
    elif row['Simulated BMI']  < 40: 
        row['ADA BMI Risk']=  2  
    elif row['Simulated BMI']  < 60:    # Age over 90 non actionable ????
        row['ADA BMI Risk']=  3      
    return row

In [ ]:
def calc_AIHS_BMI_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Simulated BMI'] < 18.5: 
        row['AIHS BMI Risk']= 0
    elif row['Simulated BMI'] < 25: 
        row['AIHS BMI Risk']=  0  
    elif row['Simulated BMI']  < 30: 
        row['AIHS BMI Risk']=  1 +  ((row['Simulated BMI']-26) * .1)
    elif row['Simulated BMI']  < 40: 
        row['AIHS BMI Risk']=  2 +  ((row['Simulated BMI']-31) * .1) 
    elif row['Simulated BMI']  < 60:    # Age over 90 non actionable ????
        row['AIHS BMI Risk']=  3 +  ((row['Simulated BMI']-41) * .1)      
    return row

## Read In the core demographic data set

In [ ]:
#df = pd.read_csv("C:/Users/josep/documents/datasets/dg.csv", nrows=5000)
df = pd.read_csv("C:/Users/josep/documents/datasets/dg_BMI_risk.csv")
df.head(5)

In [ ]:
df.head()

In [ ]:
cols = df.columns
print(cols)

In [ ]:
df['Simulated Height CM'] = np.random.randint(155, 187, df.shape[0])
df['Simulated Weight KG'] = np.random.randint(60, 130, df.shape[0])
df['Simulated BMI']=  round(df['Simulated Weight KG']/((df['Simulated Height CM']/100)**2),1)  
df.head()

In [ ]:
height = float(input("Enter height in meters: "))

weight = float(input("Enter weight in kg: "))

bmi = weight/(height**2)

print("Your BMI is: {0} and you are: ".format(bmi), end='')

if ( bmi < 16):
    print("severely underweight")

elif ( bmi >= 16 and bmi < 18.5):
    print("underweight")

elif ( bmi >= 18.5 and bmi < 25):
    print("Healthy")

elif ( bmi >= 25 and bmi < 30):
    print("overweight")

elif ( bmi >=30):
    print("severely overweight")

In [ ]:
df.to_csv("C:/Users/josep/documents/datasets/dg_BMI_risk_III.csv")

In [ ]:
df_BRFSS = pd.read_csv("C:/Data/brfss cdc/BRFSS_2015.csv",nrows=5000)
df_BRFSS.shape

In [ ]:
df_BRFSS["Patient Number"]= np.arange(len(df_BRFSS)) + 1

In [ ]:
df_BRFSS["Patient ID"]= "Patient_Number_" + df_BRFSS["Patient Number"].astype(str)

In [ ]:
df_BRFSS.head()

In [ ]:
df["Age Decade"]=df['Age'] / 10 
df["Patient Number"]= np.arange(len(df)) + 1 
cols = df.columns
df.head()

In [ ]:
df["Age Dec"]=df['Age Decade'].astype(int) 
df["Patient ID"]= "Patient_Number_" + df["Patient Number"].astype(str)
cols = df.columns
df.head()

In [ ]:
dfm = df.merge(df_BRFSS, how='left', on='Patient ID')

In [ ]:
dfm.shape

In [ ]:
#take input from user
cm=int(input("Enter the height in centimeters:"))
 
#convert centimeter to feet
feet=0.0328*cm
 
#print result
print("The length in feet",round(feet,2))

In [ ]:
dfm.head()

In [ ]:
df.head()

In [ ]:
dfm.to_csv("C:/Users/josep/documents/datasets/patient_demo_behavior.csv")

In [ ]:
df["Age Dec"]=df['Age Decade'].astype(int) 
df["Patient ID"]= "Patient_Number_" + df["Patient Number"].astype(str)
cols = df.columns
df.head()

In [ ]:
df=df.apply(calc_height_in_feet, axis='columns')
df.head()

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_weight_in_pounds, axis='columns')
df.head()

In [ ]:
#cols = cols + 'Computed AIHS Age Risk'
df = df[cols]
df.head(10)

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_AIHS_age_risk, axis='columns')
df.head()

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_ADA_BMI_risk, axis='columns')
df.head()

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_AIHS_BMI_risk, axis='columns')
pd.options.display.max_columns = None
df.head(5)