# Data Synthesis - Patient Data Cleansing and Integration

### Data Discovery

In [2]:
import pandas as pd
import numpy as np
import random as rd
import os
import glob
import matplotlib as plt
pd.set_option('max_columns', None)

In [2]:
#df_form = pd.read_csv('C:/Users/josep/documents/datasets/TEG_Form_BreakOutTable.csv')
#019-03-04 09:23:52.6600000
# Read in the integrated Data Files 
df_forms = pd.read_csv("C:/Users/josep/documents/datasets/forms.csv",nrows=100)
df_forms.head()

,ID,FormID,TableName,CreationDate,CreatedBy,ModifiedDate,ModifiedBy,Inactive
0,1,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
1,2,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
2,3,1620,FL_CASATrinityCaseManagementAssessmentRev_Agen...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
3,4,1620,FL_CASATrinityCaseManagementAssessmentRev_Schools,2019-03-04 09:23:52.6600000,357,NaN,NaN,False
4,5,1620,FL_CASATrinityCaseManagementAssessmentRev_Supp...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False

In [3]:
# Appending a new column
df_forms['formdate'] = pd.to_datetime(df_forms['CreationDate'])

In [4]:
df_forms.head()

,ID,FormID,TableName,CreationDate,CreatedBy,ModifiedDate,ModifiedBy,Inactive,formdate
0,1,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
1,2,1620,FL_CASATrinityCaseManagementAssessmentRev_Prov...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
2,3,1620,FL_CASATrinityCaseManagementAssessmentRev_Agen...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
3,4,1620,FL_CASATrinityCaseManagementAssessmentRev_Schools,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660
4,5,1620,FL_CASATrinityCaseManagementAssessmentRev_Supp...,2019-03-04 09:23:52.6600000,357,NaN,NaN,False,2019-03-04 09:23:52.660

In [5]:
# Changing in place
df_forms['CreationDate'] = pd.to_datetime(df_forms['CreationDate'])

In [6]:
df_forms.dtypes

ID                       int64
FormID                   int64
TableName               object
CreationDate    datetime64[ns]
CreatedBy                int64
ModifiedDate           float64
ModifiedBy             float64
Inactive                  bool
formdate        datetime64[ns]
dtype: object

In [7]:
df_forms['formdate'].head()

0   2019-03-04 09:23:52.660
1   2019-03-04 09:23:52.660
2   2019-03-04 09:23:52.660
3   2019-03-04 09:23:52.660
4   2019-03-04 09:23:52.660
Name: formdate, dtype: datetime64[ns]

In [8]:
df_forms['formdate'].max() - df_forms['formdate'].min()

Timedelta('871 days 23:12:00.693000')

In [9]:
df_forms['formdate'].year()

AttributeError: 'Series' object has no attribute 'year'

In [ ]:
df_forms['Year'] = df_forms['formdate'].dt.year

In [ ]:
df_forms['Year'].value_counts()

In [ ]:
df_forms.head()

In [ ]:
filt = (df_forms['Year'] >= '2020')
df_forms.loc(filt)

In [1]:
path = 'C:/Users/josep/documents/datasets/'
extension = 'csv'
os.chdir(path)
files = glob.glob('*.{}'.format(extension))
print(files)

NameError: name 'os' is not defined

In [3]:
import glob
import os
dir_name = 'C:/Users/josep/documents/datasets/'
# Get list of all files in a given directory sorted by name
list_of_files = sorted( filter( os.path.isfile,
                        glob.glob(dir_name + '*') ) )
# Creating a dataframe object from listoftuples
data_files = pd.DataFrame(list_of_files)     

   
data_files.head()

                                                   0
0  C:/Users/josep/documents/datasets\AIHS 100 Pat...
1    C:/Users/josep/documents/datasets\AIHS ext.xlsx
2  C:/Users/josep/documents/datasets\AIHS kidney-...
3        C:/Users/josep/documents/datasets\AIHS.xlsx
4         C:/Users/josep/documents/datasets\AIHS.zip

In [5]:
dir_name = 'C:/Users/josep/documents/datasets/'
# Get a list of files (file paths) in the given directory 
list_of_files = filter( os.path.isfile,
                        glob.glob(dir_name + '*') )
# get list of files with size
files_with_size = [ (file_path, os.stat(file_path).st_size) 
                    for file_path in list_of_files ]

data_files = pd.DataFrame(files_with_size)     
data_files.columns = ['File_Name', 'File_Size']
data_files.to_excel('C:/Users/josep/documents/datasets/Data_File_Sizes.xlsx')

In [ ]:
# Read in the integrated Data Files 
df_data = pd.read_excel("C:/Users/josep/documents/datasets/Data_File_Sizes.xlsx",nrows=5000)
df_data.head()

In [ ]:
df_data['file size2'] = df_data['File Size']
df_data.head()

In [ ]:
df_data.head()

In [ ]:
df_data['file delta'] = df_data['File Size'] - df_data['file size2']

In [ ]:
# Read in the integrated Data Files 
df_data = pd.read_excel("C:/Users/josep/documents/datasets/AIHS_SIM_BRFSS_Enhanced_Reduced_formulated_2020.xlsx",nrows=100)
df_data.head()

In [ ]:
df_data.shape

In [ ]:
# Grouper to select Date_of_Purchase column within groupby function
print("\nGroup Dataframe by 3 years...\n",df_data.groupby(pd.Grouper(key="Birth Date", axis=0, freq='3Y')).sum())

In [ ]:
df_data.describe()

In [ ]:
df_patient.hist(column='Race', color='teal',ec='white')

In [ ]:
df_patient.hist(column='Age', color='Orange', ec='blue')

In [ ]:
cols = df_data.columns

In [ ]:
cols

In [ ]:
df_patient.hist(column='Simulated Imputed ADA Risk (OUTCOME)', color='Orange',  ec='blue')

In [ ]:
df_patient.hist(column='Total Calculated AIHS Risk Stratifcation', color='skyblue' , ec='blue', bins = 50)
df_patient.hist(column='Total Calculated ADA pre-Diabetes Risk', color='skyblue' , ec='blue', bins = 50)

In [ ]:
print(cols)

In [ ]:
df_patient.hist(column='Simulated Imputed ADA Risk (OUTCOME)', color='Orange')

In [ ]:
df_patient.hist(column='Age',by = 'Gender')

In [ ]:
df_patient.hist(column='Race',by = 'Gender')

In [ ]:
df_data['Gender'].value_counts()

In [ ]:
df_data['Race Category'].value_counts()

## Micro Profiling Patients into cohorts

In [ ]:
df_patient['Patient Cohort'].value_counts()

In [ ]:
# Read in the BRFSS data set 
df_BRFSS = pd.read_csv("C:/Data/brfss cdc/BRFSS_2015.csv",nrows=10000)
df_BRFSS.shape

In [ ]:
# Save the transformed file 
df_BRFSS.to_csv("C:/Users/josep/documents/datasets/BRFSS_Redux.csv")

In [ ]:
# Read in the integrated Data Files 
df_BRFSS_RAW = pd.read_csv("C:/Users/josep/documents/datasets/AIHS_SIM_V4_BRFSS_RAW.csv") 
df_BRFSS_RAW.head()

In [ ]:
# Save the transformed file 
df_BRFSS.to_csv("C:/Users/josep/documents/datasets/AIHS_BRFSS_RAW.csv")

In [ ]:
df_BRFSS.head()

In [ ]:
# Calculate the AIHS health risk stratification 
def calc_age_risk(age):
    if age < 40: 
        age_risk =  0.0
    elif age < 50: 
        age_risk =  1 + ((age-40) * .1)
    elif age  < 60: 
        age_risk =  2 + ((age-50) * .1)
    elif age  < 90: 
        age_risk =  3 + ((age-60) * .1)
    elif age  < 110:    # Age over 90 non actionable ????
        age_risk =  0      
    
    return age_risk

In [ ]:
kilo_grams = float(input('Enter weight in Kg to Convert into pounds:'))
pounds = kilo_grams * 2.2046
print(kilo_grams,' Kilograms =', pounds,' Pounds')

In [ ]:
def calc_AIHS_age_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Age'] < 40: 
        row['AIHS Age Risk']=  0.0
    elif row['Age'] < 50: 
        row['AIHS Age Risk']=  1 + ((row['Age']-40) * .1)
    elif row['Age']  < 60: 
        row['AIHS Age Risk']=  2 + ((row['Age']-50) * .1)
    elif row['Age']  < 90: 
        row['AIHS Age Risk']=  3 + ((row['Age']-60) * .1)
    elif row['Age']  < 110:    # Age over 90 non actionable ????
        row['AIHS Age Risk']=  0      
   
    return row

In [ ]:
def calc_height_in_feet(row):
    # Converts from centimeters to feet and inches 
    row['Simulated Height IN']=  round(row['Simulated Height CM']  * 0.0328,1) 
    return row

In [ ]:
def calc_weight_in_pounds(row):
    # Converts from centimeters to feet and inches 
    row['Simulated Weight LBS']=   round(row['Simulated Weight KG']  * 2.2046,1)
    return row

In [ ]:
def calc_body_mass_index(row):
    # Converts from centimeters to feet and inches 
    row['Simulated BMI']=  row['Simulated Weight KG']/(row['Simulated Height CM']**2)  
    return row

In [ ]:
def calc_ADA_age_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Age'] < 40: 
        row['ADA Age Risk']= 0
    elif row['Age'] < 50: 
        row['ADA Age Risk']=  1  
    elif row['Age']  < 60: 
        row['ADA Age Risk']=  2  
    elif row['Age']  < 90: 
        row['ADA Age Risk']=  3  
    elif row['Age']  < 110:    # Age over 90 non actionable ????
        row['ADA Age Risk']=  0      
    return row

In [ ]:
def calc_ADA_BMI_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Simulated BMI'] < 18.5: 
        row['ADA BMI Risk']= 0
    elif row['Simulated BMI'] < 25: 
        row['ADA BMI Risk']=  0  
    elif row['Simulated BMI']  < 30: 
        row['ADA BMI Risk']=  1  
    elif row['Simulated BMI']  < 40: 
        row['ADA BMI Risk']=  2  
    elif row['Simulated BMI']  < 60:    # Age over 90 non actionable ????
        row['ADA BMI Risk']=  3      
    return row

In [ ]:
def calc_AIHS_BMI_risk(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    if row['Simulated BMI'] < 18.5: 
        row['AIHS BMI Risk']= 0
    elif row['Simulated BMI'] < 25: 
        row['AIHS BMI Risk']=  0  
    elif row['Simulated BMI']  < 30: 
        row['AIHS BMI Risk']=  1 +  ((row['Simulated BMI']-26) * .1)
    elif row['Simulated BMI']  < 40: 
        row['AIHS BMI Risk']=  2 +  ((row['Simulated BMI']-31) * .1) 
    elif row['Simulated BMI']  < 60:    # Age over 90 non actionable ????
        row['AIHS BMI Risk']=  3 +  ((row['Simulated BMI']-41) * .1)      
    return row

## Read In the core demographic data set

In [ ]:
#df = pd.read_csv("C:/Users/josep/documents/datasets/dg.csv", nrows=5000)
df = pd.read_csv("C:/Users/josep/documents/datasets/dg_BMI_risk.csv")
df.head(5)

In [ ]:
df.head()

In [ ]:
cols = df.columns
print(cols)

In [ ]:
df['Simulated Height CM'] = np.random.randint(155, 187, df.shape[0])
df['Simulated Weight KG'] = np.random.randint(60, 130, df.shape[0])
df['Simulated BMI']=  round(df['Simulated Weight KG']/((df['Simulated Height CM']/100)**2),1)  
df.head()

In [ ]:
height = float(input("Enter height in meters: "))

weight = float(input("Enter weight in kg: "))

bmi = weight/(height**2)

print("Your BMI is: {0} and you are: ".format(bmi), end='')

if ( bmi < 16):
    print("severely underweight")

elif ( bmi >= 16 and bmi < 18.5):
    print("underweight")

elif ( bmi >= 18.5 and bmi < 25):
    print("Healthy")

elif ( bmi >= 25 and bmi < 30):
    print("overweight")

elif ( bmi >=30):
    print("severely overweight")

In [ ]:
df.to_csv("C:/Users/josep/documents/datasets/dg_BMI_risk_III.csv")

In [ ]:
df_BRFSS = pd.read_csv("C:/Data/brfss cdc/BRFSS_2015.csv",nrows=5000)
df_BRFSS.shape

In [ ]:
df_BRFSS["Patient Number"]= np.arange(len(df_BRFSS)) + 1

In [ ]:
df_BRFSS["Patient ID"]= "Patient_Number_" + df_BRFSS["Patient Number"].astype(str)

In [ ]:
df_BRFSS.head()

In [ ]:
df["Age Decade"]=df['Age'] / 10 
df["Patient Number"]= np.arange(len(df)) + 1 
cols = df.columns
df.head()

In [ ]:
df["Age Dec"]=df['Age Decade'].astype(int) 
df["Patient ID"]= "Patient_Number_" + df["Patient Number"].astype(str)
cols = df.columns
df.head()

In [ ]:
dfm = df.merge(df_BRFSS, how='left', on='Patient ID')

In [ ]:
dfm.shape

In [ ]:
#take input from user
cm=int(input("Enter the height in centimeters:"))
 
#convert centimeter to feet
feet=0.0328*cm
 
#print result
print("The length in feet",round(feet,2))

In [ ]:
dfm.head()

In [ ]:
df.head()

In [ ]:
dfm.to_csv("C:/Users/josep/documents/datasets/patient_demo_behavior.csv")

In [ ]:
df["Age Dec"]=df['Age Decade'].astype(int) 
df["Patient ID"]= "Patient_Number_" + df["Patient Number"].astype(str)
cols = df.columns
df.head()

In [ ]:
df=df.apply(calc_height_in_feet, axis='columns')
df.head()

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_weight_in_pounds, axis='columns')
df.head()

In [ ]:
#cols = cols + 'Computed AIHS Age Risk'
df = df[cols]
df.head(10)

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_AIHS_age_risk, axis='columns')
df.head()

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_ADA_BMI_risk, axis='columns')
df.head()

In [ ]:
#df=df.apply(calc_ADS_age_risk, axis='columns')
df=df.apply(calc_AIHS_BMI_risk, axis='columns')
pd.options.display.max_columns = None
df.head(5)